/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ClusterAPI interface {

	/*
	GetMspClusterNodesInfo Get msp cluster nodes information.

	Get msp cluster nodes information.<br/><br/>The interface requires one of the permissions: <br/>MSP Cluster View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return ClusterAPIGetMspClusterNodesInfoRequest
	*/
	GetMspClusterNodesInfo(ctx context.Context, mspId string) ClusterAPIGetMspClusterNodesInfoRequest

	// GetMspClusterNodesInfoExecute executes the request
	//  @return OperationResponseListNodeInfoVO
	GetMspClusterNodesInfoExecute(r ClusterAPIGetMspClusterNodesInfoRequest) (*OperationResponseListNodeInfoVO, *http.Response, error)
}

// ClusterAPIService ClusterAPI service
type ClusterAPIService service

type ClusterAPIGetMspClusterNodesInfoRequest struct {
	ctx context.Context
	ApiService ClusterAPI
	mspId string
}

func (r ClusterAPIGetMspClusterNodesInfoRequest) Execute() (*OperationResponseListNodeInfoVO, *http.Response, error) {
	return r.ApiService.GetMspClusterNodesInfoExecute(r)
}

/*
GetMspClusterNodesInfo Get msp cluster nodes information.

Get msp cluster nodes information.<br/><br/>The interface requires one of the permissions: <br/>MSP Cluster View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return ClusterAPIGetMspClusterNodesInfoRequest
*/
func (a *ClusterAPIService) GetMspClusterNodesInfo(ctx context.Context, mspId string) ClusterAPIGetMspClusterNodesInfoRequest {
	return ClusterAPIGetMspClusterNodesInfoRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseListNodeInfoVO
func (a *ClusterAPIService) GetMspClusterNodesInfoExecute(r ClusterAPIGetMspClusterNodesInfoRequest) (*OperationResponseListNodeInfoVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseListNodeInfoVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClusterAPIService.GetMspClusterNodesInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/cluster/nodes/info"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
