/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type IPTVTemplateAPI interface {

	/*
	GetIptvTemplate Get IPTV template setting

	Get IPTV template setting of the site with the given omadacId and siteId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site ID
	@return IPTVTemplateAPIGetIptvTemplateRequest
	*/
	GetIptvTemplate(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIGetIptvTemplateRequest

	// GetIptvTemplateExecute executes the request
	//  @return OperationResponseIptvOpenApiVO
	GetIptvTemplateExecute(r IPTVTemplateAPIGetIptvTemplateRequest) (*OperationResponseIptvOpenApiVO, *http.Response, error)

	/*
	GetIptvTemplateServerSetting Get IPTV setting template

	Get IPTV setting template of the site with the given omadacId and siteTemplateId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return IPTVTemplateAPIGetIptvTemplateServerSettingRequest
	*/
	GetIptvTemplateServerSetting(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIGetIptvTemplateServerSettingRequest

	// GetIptvTemplateServerSettingExecute executes the request
	//  @return OperationResponseIptvSettingOpenApiVO
	GetIptvTemplateServerSettingExecute(r IPTVTemplateAPIGetIptvTemplateServerSettingRequest) (*OperationResponseIptvSettingOpenApiVO, *http.Response, error)

	/*
	ModifyIptvTemplate Modify IPTV template setting

	Modify IPTV template setting info of the site with the given params.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-33501  -  This VLAN ID is already used by the WAN interface.<br/>-34517  -  This VLAN ID is already used by the LAN interface.<br/>-34518  -  This VLAN ID is already used by the IPTV interface.<br/>-34519  -  At least one Internet port is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site ID
	@return IPTVTemplateAPIModifyIptvTemplateRequest
	*/
	ModifyIptvTemplate(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIModifyIptvTemplateRequest

	// ModifyIptvTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyIptvTemplateExecute(r IPTVTemplateAPIModifyIptvTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	ModifyIptvTemplateServerSetting Modify IPTV setting template

	Modify IPTV setting template with the given omadacId and siteTemplateId. There should be a gateway template model preconfigured, or else you cannot modify IPTV template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33010  -  This site template does not support current function.<br/>-33013  -  This name already exists in this site template.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return IPTVTemplateAPIModifyIptvTemplateServerSettingRequest
	*/
	ModifyIptvTemplateServerSetting(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIModifyIptvTemplateServerSettingRequest

	// ModifyIptvTemplateServerSettingExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyIptvTemplateServerSettingExecute(r IPTVTemplateAPIModifyIptvTemplateServerSettingRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// IPTVTemplateAPIService IPTVTemplateAPI service
type IPTVTemplateAPIService service

type IPTVTemplateAPIGetIptvTemplateRequest struct {
	ctx context.Context
	ApiService IPTVTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r IPTVTemplateAPIGetIptvTemplateRequest) Execute() (*OperationResponseIptvOpenApiVO, *http.Response, error) {
	return r.ApiService.GetIptvTemplateExecute(r)
}

/*
GetIptvTemplate Get IPTV template setting

Get IPTV template setting of the site with the given omadacId and siteId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site ID
 @return IPTVTemplateAPIGetIptvTemplateRequest
*/
func (a *IPTVTemplateAPIService) GetIptvTemplate(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIGetIptvTemplateRequest {
	return IPTVTemplateAPIGetIptvTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseIptvOpenApiVO
func (a *IPTVTemplateAPIService) GetIptvTemplateExecute(r IPTVTemplateAPIGetIptvTemplateRequest) (*OperationResponseIptvOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseIptvOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPTVTemplateAPIService.GetIptvTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/iptv/iptv"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IPTVTemplateAPIGetIptvTemplateServerSettingRequest struct {
	ctx context.Context
	ApiService IPTVTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r IPTVTemplateAPIGetIptvTemplateServerSettingRequest) Execute() (*OperationResponseIptvSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetIptvTemplateServerSettingExecute(r)
}

/*
GetIptvTemplateServerSetting Get IPTV setting template

Get IPTV setting template of the site with the given omadacId and siteTemplateId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return IPTVTemplateAPIGetIptvTemplateServerSettingRequest
*/
func (a *IPTVTemplateAPIService) GetIptvTemplateServerSetting(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIGetIptvTemplateServerSettingRequest {
	return IPTVTemplateAPIGetIptvTemplateServerSettingRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseIptvSettingOpenApiVO
func (a *IPTVTemplateAPIService) GetIptvTemplateServerSettingExecute(r IPTVTemplateAPIGetIptvTemplateServerSettingRequest) (*OperationResponseIptvSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseIptvSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPTVTemplateAPIService.GetIptvTemplateServerSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/iptv"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IPTVTemplateAPIModifyIptvTemplateRequest struct {
	ctx context.Context
	ApiService IPTVTemplateAPI
	omadacId string
	siteTemplateId string
	iptvConfigOpenApiVO *IptvConfigOpenApiVO
}

func (r IPTVTemplateAPIModifyIptvTemplateRequest) IptvConfigOpenApiVO(iptvConfigOpenApiVO IptvConfigOpenApiVO) IPTVTemplateAPIModifyIptvTemplateRequest {
	r.iptvConfigOpenApiVO = &iptvConfigOpenApiVO
	return r
}

func (r IPTVTemplateAPIModifyIptvTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyIptvTemplateExecute(r)
}

/*
ModifyIptvTemplate Modify IPTV template setting

Modify IPTV template setting info of the site with the given params.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-33501  -  This VLAN ID is already used by the WAN interface.<br/>-34517  -  This VLAN ID is already used by the LAN interface.<br/>-34518  -  This VLAN ID is already used by the IPTV interface.<br/>-34519  -  At least one Internet port is required.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site ID
 @return IPTVTemplateAPIModifyIptvTemplateRequest
*/
func (a *IPTVTemplateAPIService) ModifyIptvTemplate(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIModifyIptvTemplateRequest {
	return IPTVTemplateAPIModifyIptvTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *IPTVTemplateAPIService) ModifyIptvTemplateExecute(r IPTVTemplateAPIModifyIptvTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPTVTemplateAPIService.ModifyIptvTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/iptv/iptv"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iptvConfigOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("iptvConfigOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iptvConfigOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IPTVTemplateAPIModifyIptvTemplateServerSettingRequest struct {
	ctx context.Context
	ApiService IPTVTemplateAPI
	omadacId string
	siteTemplateId string
	iptvSettingOpenApiVO *IptvSettingOpenApiVO
}

func (r IPTVTemplateAPIModifyIptvTemplateServerSettingRequest) IptvSettingOpenApiVO(iptvSettingOpenApiVO IptvSettingOpenApiVO) IPTVTemplateAPIModifyIptvTemplateServerSettingRequest {
	r.iptvSettingOpenApiVO = &iptvSettingOpenApiVO
	return r
}

func (r IPTVTemplateAPIModifyIptvTemplateServerSettingRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyIptvTemplateServerSettingExecute(r)
}

/*
ModifyIptvTemplateServerSetting Modify IPTV setting template

Modify IPTV setting template with the given omadacId and siteTemplateId. There should be a gateway template model preconfigured, or else you cannot modify IPTV template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33010  -  This site template does not support current function.<br/>-33013  -  This name already exists in this site template.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return IPTVTemplateAPIModifyIptvTemplateServerSettingRequest
*/
func (a *IPTVTemplateAPIService) ModifyIptvTemplateServerSetting(ctx context.Context, omadacId string, siteTemplateId string) IPTVTemplateAPIModifyIptvTemplateServerSettingRequest {
	return IPTVTemplateAPIModifyIptvTemplateServerSettingRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *IPTVTemplateAPIService) ModifyIptvTemplateServerSettingExecute(r IPTVTemplateAPIModifyIptvTemplateServerSettingRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPTVTemplateAPIService.ModifyIptvTemplateServerSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/iptv"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iptvSettingOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("iptvSettingOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iptvSettingOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
