/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MSPSiteAPI interface {

	/*
	GetSiteList1 Get msp site list

	Get msp site list<br/><br/>The interface requires one of the permissions: <br/>MSP Site Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPSiteAPIGetSiteList1Request
	*/
	GetSiteList1(ctx context.Context, mspId string) MSPSiteAPIGetSiteList1Request

	// GetSiteList1Execute executes the request
	//  @return OperationResponseGridVOSiteSummaryInfo
	GetSiteList1Execute(r MSPSiteAPIGetSiteList1Request) (*OperationResponseGridVOSiteSummaryInfo, *http.Response, error)

	/*
	GetTags2 Get msp site tag list

	Get msp site tag list.<br/><br/>The interface requires one of the permissions: <br/>MSP Site Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPSiteAPIGetTags2Request
	*/
	GetTags2(ctx context.Context, mspId string) MSPSiteAPIGetTags2Request

	// GetTags2Execute executes the request
	//  @return []SiteTag
	GetTags2Execute(r MSPSiteAPIGetTags2Request) ([]SiteTag, *http.Response, error)
}

// MSPSiteAPIService MSPSiteAPI service
type MSPSiteAPIService service

type MSPSiteAPIGetSiteList1Request struct {
	ctx context.Context
	ApiService MSPSiteAPI
	mspId string
	page *int32
	pageSize *int32
	sortsName *string
	searchKey *string
	filtersTag *string
	filtersType *string
}

// Start page number. Start from 1.
func (r MSPSiteAPIGetSiteList1Request) Page(page int32) MSPSiteAPIGetSiteList1Request {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r MSPSiteAPIGetSiteList1Request) PageSize(pageSize int32) MSPSiteAPIGetSiteList1Request {
	r.pageSize = &pageSize
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r MSPSiteAPIGetSiteList1Request) SortsName(sortsName string) MSPSiteAPIGetSiteList1Request {
	r.sortsName = &sortsName
	return r
}

// Fuzzy query parameters, support field name
func (r MSPSiteAPIGetSiteList1Request) SearchKey(searchKey string) MSPSiteAPIGetSiteList1Request {
	r.searchKey = &searchKey
	return r
}

// Filter query parameters, support field tag ID
func (r MSPSiteAPIGetSiteList1Request) FiltersTag(filtersTag string) MSPSiteAPIGetSiteList1Request {
	r.filtersTag = &filtersTag
	return r
}

// Filter query parameters, support field site type. 0: basic site; 1: pro site.
func (r MSPSiteAPIGetSiteList1Request) FiltersType(filtersType string) MSPSiteAPIGetSiteList1Request {
	r.filtersType = &filtersType
	return r
}

func (r MSPSiteAPIGetSiteList1Request) Execute() (*OperationResponseGridVOSiteSummaryInfo, *http.Response, error) {
	return r.ApiService.GetSiteList1Execute(r)
}

/*
GetSiteList1 Get msp site list

Get msp site list<br/><br/>The interface requires one of the permissions: <br/>MSP Site Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPSiteAPIGetSiteList1Request
*/
func (a *MSPSiteAPIService) GetSiteList1(ctx context.Context, mspId string) MSPSiteAPIGetSiteList1Request {
	return MSPSiteAPIGetSiteList1Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOSiteSummaryInfo
func (a *MSPSiteAPIService) GetSiteList1Execute(r MSPSiteAPIGetSiteList1Request) (*OperationResponseGridVOSiteSummaryInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOSiteSummaryInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPSiteAPIService.GetSiteList1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/sites"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.sortsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.name", r.sortsName, "form", "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	if r.filtersTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.tag", r.filtersTag, "form", "")
	}
	if r.filtersType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.type", r.filtersType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPSiteAPIGetTags2Request struct {
	ctx context.Context
	ApiService MSPSiteAPI
	mspId string
}

func (r MSPSiteAPIGetTags2Request) Execute() ([]SiteTag, *http.Response, error) {
	return r.ApiService.GetTags2Execute(r)
}

/*
GetTags2 Get msp site tag list

Get msp site tag list.<br/><br/>The interface requires one of the permissions: <br/>MSP Site Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPSiteAPIGetTags2Request
*/
func (a *MSPSiteAPIService) GetTags2(ctx context.Context, mspId string) MSPSiteAPIGetTags2Request {
	return MSPSiteAPIGetTags2Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return []SiteTag
func (a *MSPSiteAPIService) GetTags2Execute(r MSPSiteAPIGetTags2Request) ([]SiteTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SiteTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPSiteAPIService.GetTags2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/sites/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
