/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ThreatManagementAPI interface {

	/*
	DeleteThreatList Delete archived ips threat

	Delete archived ips threat.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager Modify<br/>Global Threat Manager Modify<br/>Device Config Page Modify<br/>Site Device Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return ThreatManagementAPIDeleteThreatListRequest
	*/
	DeleteThreatList(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIDeleteThreatListRequest

	// DeleteThreatListExecute executes the request
	//  @return OperationResponse
	DeleteThreatListExecute(r ThreatManagementAPIDeleteThreatListRequest) (*OperationResponse, *http.Response, error)

	/*
	GetThreatDetail Get threat entry detail

	Get threat entry detail.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager View Only<br/>Global Threat Manager View Only<br/>Device Config Page View Only<br/>Site Device Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param threatId threatId
	@return ThreatManagementAPIGetThreatDetailRequest
	*/
	GetThreatDetail(ctx context.Context, omadacId string, siteId string, threatId string) ThreatManagementAPIGetThreatDetailRequest

	// GetThreatDetailExecute executes the request
	//  @return OperationResponseGetIpsThreatDetail
	GetThreatDetailExecute(r ThreatManagementAPIGetThreatDetailRequest) (*OperationResponseGetIpsThreatDetail, *http.Response, error)

	/*
	GetThreatList Get grid threat list

	Get grid threat list.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager View Only<br/>Global Threat Manager View Only<br/>Device Config Page View Only<br/>Site Device Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return ThreatManagementAPIGetThreatListRequest
	*/
	GetThreatList(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIGetThreatListRequest

	// GetThreatListExecute executes the request
	//  @return OperationResponseGridVOGetGridIpsThreat
	GetThreatListExecute(r ThreatManagementAPIGetThreatListRequest) (*OperationResponseGridVOGetGridIpsThreat, *http.Response, error)

	/*
	OperateThreats Block/Isolate Device/Signature Suppression/Allow ips threat

	Block/Isolate Device/Signature Suppression/Allow ips threat.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager Modify<br/>Global Threat Manager Modify<br/>Device Config Page Modify<br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-35202  -  The number of allow list entries has reached the limit.<br/>-35203  -  The number of block list entries has reached the limit.<br/>-35204  -  The number of signature suppression entries has reached the limit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return ThreatManagementAPIOperateThreatsRequest
	*/
	OperateThreats(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIOperateThreatsRequest

	// OperateThreatsExecute executes the request
	//  @return OperationResponse
	OperateThreatsExecute(r ThreatManagementAPIOperateThreatsRequest) (*OperationResponse, *http.Response, error)
}

// ThreatManagementAPIService ThreatManagementAPI service
type ThreatManagementAPIService service

type ThreatManagementAPIDeleteThreatListRequest struct {
	ctx context.Context
	ApiService ThreatManagementAPI
	omadacId string
	siteId string
	deleteIpsThreat *DeleteIpsThreat
}

func (r ThreatManagementAPIDeleteThreatListRequest) DeleteIpsThreat(deleteIpsThreat DeleteIpsThreat) ThreatManagementAPIDeleteThreatListRequest {
	r.deleteIpsThreat = &deleteIpsThreat
	return r
}

func (r ThreatManagementAPIDeleteThreatListRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.DeleteThreatListExecute(r)
}

/*
DeleteThreatList Delete archived ips threat

Delete archived ips threat.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager Modify<br/>Global Threat Manager Modify<br/>Device Config Page Modify<br/>Site Device Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return ThreatManagementAPIDeleteThreatListRequest
*/
func (a *ThreatManagementAPIService) DeleteThreatList(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIDeleteThreatListRequest {
	return ThreatManagementAPIDeleteThreatListRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *ThreatManagementAPIService) DeleteThreatListExecute(r ThreatManagementAPIDeleteThreatListRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ThreatManagementAPIService.DeleteThreatList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/ips/threat"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteIpsThreat == nil {
		return localVarReturnValue, nil, reportError("deleteIpsThreat is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteIpsThreat
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ThreatManagementAPIGetThreatDetailRequest struct {
	ctx context.Context
	ApiService ThreatManagementAPI
	omadacId string
	siteId string
	threatId string
	time *int64
}

// Timestamp, in seconds, such as 1682000000
func (r ThreatManagementAPIGetThreatDetailRequest) Time(time int64) ThreatManagementAPIGetThreatDetailRequest {
	r.time = &time
	return r
}

func (r ThreatManagementAPIGetThreatDetailRequest) Execute() (*OperationResponseGetIpsThreatDetail, *http.Response, error) {
	return r.ApiService.GetThreatDetailExecute(r)
}

/*
GetThreatDetail Get threat entry detail

Get threat entry detail.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager View Only<br/>Global Threat Manager View Only<br/>Device Config Page View Only<br/>Site Device Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param threatId threatId
 @return ThreatManagementAPIGetThreatDetailRequest
*/
func (a *ThreatManagementAPIService) GetThreatDetail(ctx context.Context, omadacId string, siteId string, threatId string) ThreatManagementAPIGetThreatDetailRequest {
	return ThreatManagementAPIGetThreatDetailRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		threatId: threatId,
	}
}

// Execute executes the request
//  @return OperationResponseGetIpsThreatDetail
func (a *ThreatManagementAPIService) GetThreatDetailExecute(r ThreatManagementAPIGetThreatDetailRequest) (*OperationResponseGetIpsThreatDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGetIpsThreatDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ThreatManagementAPIService.GetThreatDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/ips/threat/{threatId}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"threatId"+"}", url.PathEscape(parameterValueToString(r.threatId, "threatId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.time == nil {
		return localVarReturnValue, nil, reportError("time is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ThreatManagementAPIGetThreatListRequest struct {
	ctx context.Context
	ApiService ThreatManagementAPI
	omadacId string
	siteId string
	archived *bool
	page *int32
	pageSize *int32
	filtersStartTime *int64
	filtersEndTime *int64
	filtersSeverity *int32
	sortsTime *string
	searchKey *string
}

// archived
func (r ThreatManagementAPIGetThreatListRequest) Archived(archived bool) ThreatManagementAPIGetThreatListRequest {
	r.archived = &archived
	return r
}

// Start page number. Start from 1.
func (r ThreatManagementAPIGetThreatListRequest) Page(page int32) ThreatManagementAPIGetThreatListRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r ThreatManagementAPIGetThreatListRequest) PageSize(pageSize int32) ThreatManagementAPIGetThreatListRequest {
	r.pageSize = &pageSize
	return r
}

// Start timestamp, in seconds, such as 1682000000
func (r ThreatManagementAPIGetThreatListRequest) FiltersStartTime(filtersStartTime int64) ThreatManagementAPIGetThreatListRequest {
	r.filtersStartTime = &filtersStartTime
	return r
}

// End timestamp, in seconds, such as 1682000000
func (r ThreatManagementAPIGetThreatListRequest) FiltersEndTime(filtersEndTime int64) ThreatManagementAPIGetThreatListRequest {
	r.filtersEndTime = &filtersEndTime
	return r
}

// Threat Severity, such as 0:Critical, 1: Major, 2:Moderate, 3:Minor, 4:Low
func (r ThreatManagementAPIGetThreatListRequest) FiltersSeverity(filtersSeverity int32) ThreatManagementAPIGetThreatListRequest {
	r.filtersSeverity = &filtersSeverity
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r ThreatManagementAPIGetThreatListRequest) SortsTime(sortsTime string) ThreatManagementAPIGetThreatListRequest {
	r.sortsTime = &sortsTime
	return r
}

// Fuzzy query parameters, support field Threat Description/Classification/Classification Description
func (r ThreatManagementAPIGetThreatListRequest) SearchKey(searchKey string) ThreatManagementAPIGetThreatListRequest {
	r.searchKey = &searchKey
	return r
}

func (r ThreatManagementAPIGetThreatListRequest) Execute() (*OperationResponseGridVOGetGridIpsThreat, *http.Response, error) {
	return r.ApiService.GetThreatListExecute(r)
}

/*
GetThreatList Get grid threat list

Get grid threat list.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager View Only<br/>Global Threat Manager View Only<br/>Device Config Page View Only<br/>Site Device Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return ThreatManagementAPIGetThreatListRequest
*/
func (a *ThreatManagementAPIService) GetThreatList(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIGetThreatListRequest {
	return ThreatManagementAPIGetThreatListRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOGetGridIpsThreat
func (a *ThreatManagementAPIService) GetThreatListExecute(r ThreatManagementAPIGetThreatListRequest) (*OperationResponseGridVOGetGridIpsThreat, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOGetGridIpsThreat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ThreatManagementAPIService.GetThreatList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/ips/grid/threat-management"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.archived == nil {
		return localVarReturnValue, nil, reportError("archived is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}
	if r.filtersStartTime == nil {
		return localVarReturnValue, nil, reportError("filtersStartTime is required and must be specified")
	}
	if r.filtersEndTime == nil {
		return localVarReturnValue, nil, reportError("filtersEndTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "archived", r.archived, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filters.startTime", r.filtersStartTime, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filters.endTime", r.filtersEndTime, "form", "")
	if r.filtersSeverity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.severity", r.filtersSeverity, "form", "")
	}
	if r.sortsTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.time", r.sortsTime, "form", "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ThreatManagementAPIOperateThreatsRequest struct {
	ctx context.Context
	ApiService ThreatManagementAPI
	omadacId string
	siteId string
	ipsOperateThreat *IpsOperateThreat
}

func (r ThreatManagementAPIOperateThreatsRequest) IpsOperateThreat(ipsOperateThreat IpsOperateThreat) ThreatManagementAPIOperateThreatsRequest {
	r.ipsOperateThreat = &ipsOperateThreat
	return r
}

func (r ThreatManagementAPIOperateThreatsRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.OperateThreatsExecute(r)
}

/*
OperateThreats Block/Isolate Device/Signature Suppression/Allow ips threat

Block/Isolate Device/Signature Suppression/Allow ips threat.<br/><br/>The interface requires one of the permissions: <br/>Site Insight Manager Modify<br/>Global Threat Manager Modify<br/>Device Config Page Modify<br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-35202  -  The number of allow list entries has reached the limit.<br/>-35203  -  The number of block list entries has reached the limit.<br/>-35204  -  The number of signature suppression entries has reached the limit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return ThreatManagementAPIOperateThreatsRequest
*/
func (a *ThreatManagementAPIService) OperateThreats(ctx context.Context, omadacId string, siteId string) ThreatManagementAPIOperateThreatsRequest {
	return ThreatManagementAPIOperateThreatsRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *ThreatManagementAPIService) OperateThreatsExecute(r ThreatManagementAPIOperateThreatsRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ThreatManagementAPIService.OperateThreats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/ips/threat/multi-ops"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ipsOperateThreat == nil {
		return localVarReturnValue, nil, reportError("ipsOperateThreat is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ipsOperateThreat
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
