/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AuditLogAPI interface {

	/*
	ExportAuditLogListForGlobal Export audit log list in global view

	Export audit log list in global view.<br/><br/>The interface requires one of the permissions: <br/>Global Export Data Access

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return AuditLogAPIExportAuditLogListForGlobalRequest
	*/
	ExportAuditLogListForGlobal(ctx context.Context, omadacId string) AuditLogAPIExportAuditLogListForGlobalRequest

	// ExportAuditLogListForGlobalExecute executes the request
	//  @return OperationResponse
	ExportAuditLogListForGlobalExecute(r AuditLogAPIExportAuditLogListForGlobalRequest) (*OperationResponse, *http.Response, error)

	/*
	GetAuditLogSettingForGlobal Get global audit log notification

	Get global audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return AuditLogAPIGetAuditLogSettingForGlobalRequest
	*/
	GetAuditLogSettingForGlobal(ctx context.Context, omadacId string) AuditLogAPIGetAuditLogSettingForGlobalRequest

	// GetAuditLogSettingForGlobalExecute executes the request
	//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
	GetAuditLogSettingForGlobalExecute(r AuditLogAPIGetAuditLogSettingForGlobalRequest) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error)

	/*
	GetAuditLogSettingForMsp1 Get site audit log notification

	Get site audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return AuditLogAPIGetAuditLogSettingForMsp1Request
	*/
	GetAuditLogSettingForMsp1(ctx context.Context, omadacId string, siteId string) AuditLogAPIGetAuditLogSettingForMsp1Request

	// GetAuditLogSettingForMsp1Execute executes the request
	//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
	GetAuditLogSettingForMsp1Execute(r AuditLogAPIGetAuditLogSettingForMsp1Request) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error)

	/*
	GetAuditLogsForGlobal Get global audit log list

	Get audit logs in global audit page.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return AuditLogAPIGetAuditLogsForGlobalRequest
	*/
	GetAuditLogsForGlobal(ctx context.Context, omadacId string) AuditLogAPIGetAuditLogsForGlobalRequest

	// GetAuditLogsForGlobalExecute executes the request
	//  @return OperationResponseGridVOAuditLogOpenApiVO
	GetAuditLogsForGlobalExecute(r AuditLogAPIGetAuditLogsForGlobalRequest) (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error)

	/*
	GetAuditLogsForSite Get site audit log list

	Get audit logs in site audit page.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return AuditLogAPIGetAuditLogsForSiteRequest
	*/
	GetAuditLogsForSite(ctx context.Context, omadacId string, siteId string) AuditLogAPIGetAuditLogsForSiteRequest

	// GetAuditLogsForSiteExecute executes the request
	//  @return OperationResponseGridVOAuditLogOpenApiVO
	GetAuditLogsForSiteExecute(r AuditLogAPIGetAuditLogsForSiteRequest) (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error)

	/*
	ModifyAuditLogSettingGlobal Modify global audit log notification

	Modify global audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return AuditLogAPIModifyAuditLogSettingGlobalRequest
	*/
	ModifyAuditLogSettingGlobal(ctx context.Context, omadacId string) AuditLogAPIModifyAuditLogSettingGlobalRequest

	// ModifyAuditLogSettingGlobalExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyAuditLogSettingGlobalExecute(r AuditLogAPIModifyAuditLogSettingGlobalRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	ModifyAuditLogSettingSite1 Modify site audit log notification

	Modify site audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return AuditLogAPIModifyAuditLogSettingSite1Request
	*/
	ModifyAuditLogSettingSite1(ctx context.Context, omadacId string, siteId string) AuditLogAPIModifyAuditLogSettingSite1Request

	// ModifyAuditLogSettingSite1Execute executes the request
	//  @return OperationResponseWithoutResult
	ModifyAuditLogSettingSite1Execute(r AuditLogAPIModifyAuditLogSettingSite1Request) (*OperationResponseWithoutResult, *http.Response, error)
}

// AuditLogAPIService AuditLogAPI service
type AuditLogAPIService service

type AuditLogAPIExportAuditLogListForGlobalRequest struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	exportLogOpenApiVO *ExportLogOpenApiVO
}

func (r AuditLogAPIExportAuditLogListForGlobalRequest) ExportLogOpenApiVO(exportLogOpenApiVO ExportLogOpenApiVO) AuditLogAPIExportAuditLogListForGlobalRequest {
	r.exportLogOpenApiVO = &exportLogOpenApiVO
	return r
}

func (r AuditLogAPIExportAuditLogListForGlobalRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.ExportAuditLogListForGlobalExecute(r)
}

/*
ExportAuditLogListForGlobal Export audit log list in global view

Export audit log list in global view.<br/><br/>The interface requires one of the permissions: <br/>Global Export Data Access

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return AuditLogAPIExportAuditLogListForGlobalRequest
*/
func (a *AuditLogAPIService) ExportAuditLogListForGlobal(ctx context.Context, omadacId string) AuditLogAPIExportAuditLogListForGlobalRequest {
	return AuditLogAPIExportAuditLogListForGlobalRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *AuditLogAPIService) ExportAuditLogListForGlobalExecute(r AuditLogAPIExportAuditLogListForGlobalRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.ExportAuditLogListForGlobal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/logs/audit/export"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.exportLogOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("exportLogOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.exportLogOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIGetAuditLogSettingForGlobalRequest struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
}

func (r AuditLogAPIGetAuditLogSettingForGlobalRequest) Execute() (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAuditLogSettingForGlobalExecute(r)
}

/*
GetAuditLogSettingForGlobal Get global audit log notification

Get global audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return AuditLogAPIGetAuditLogSettingForGlobalRequest
*/
func (a *AuditLogAPIService) GetAuditLogSettingForGlobal(ctx context.Context, omadacId string) AuditLogAPIGetAuditLogSettingForGlobalRequest {
	return AuditLogAPIGetAuditLogSettingForGlobalRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
func (a *AuditLogAPIService) GetAuditLogSettingForGlobalExecute(r AuditLogAPIGetAuditLogSettingForGlobalRequest) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseAuditLogNotificationSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.GetAuditLogSettingForGlobal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIGetAuditLogSettingForMsp1Request struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	siteId string
}

func (r AuditLogAPIGetAuditLogSettingForMsp1Request) Execute() (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAuditLogSettingForMsp1Execute(r)
}

/*
GetAuditLogSettingForMsp1 Get site audit log notification

Get site audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return AuditLogAPIGetAuditLogSettingForMsp1Request
*/
func (a *AuditLogAPIService) GetAuditLogSettingForMsp1(ctx context.Context, omadacId string, siteId string) AuditLogAPIGetAuditLogSettingForMsp1Request {
	return AuditLogAPIGetAuditLogSettingForMsp1Request{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
func (a *AuditLogAPIService) GetAuditLogSettingForMsp1Execute(r AuditLogAPIGetAuditLogSettingForMsp1Request) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseAuditLogNotificationSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.GetAuditLogSettingForMsp1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/site/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIGetAuditLogsForGlobalRequest struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	page *int32
	pageSize *int32
	sortsTime *string
	filtersResult *int32
	filtersLevel *string
	filtersAuditTypes *string
	filtersTimes *string
	searchKey *string
}

// Start page number. Start from 1.
func (r AuditLogAPIGetAuditLogsForGlobalRequest) Page(page int32) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.(value:10,15,20,30,50,100)
func (r AuditLogAPIGetAuditLogsForGlobalRequest) PageSize(pageSize int32) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.pageSize = &pageSize
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r AuditLogAPIGetAuditLogsForGlobalRequest) SortsTime(sortsTime string) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.sortsTime = &sortsTime
	return r
}

// Filter query parameters, support field result,it should be a value as follows: 0: successful; 1: failed,example:0
func (r AuditLogAPIGetAuditLogsForGlobalRequest) FiltersResult(filtersResult int32) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.filtersResult = &filtersResult
	return r
}

// Filter query parameters, support field level,it should be a value as follows: Error; Warning; Information, example:Error
func (r AuditLogAPIGetAuditLogsForGlobalRequest) FiltersLevel(filtersLevel string) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.filtersLevel = &filtersLevel
	return r
}

// Filter query parameters, support field auditTypes, for the values of auditLog type, refer to section 5.2.2 of the Open API Access Guide, example:Log,Cloud Access,User Interface.
func (r AuditLogAPIGetAuditLogsForGlobalRequest) FiltersAuditTypes(filtersAuditTypes string) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.filtersAuditTypes = &filtersAuditTypes
	return r
}

// Filter query parameters, support field times, example:[{\&quot;timeStart\&quot;:1678060800000,\&quot;timeEnd\&quot;:1678665599999}](UrlEncode:%5B%7B%22timeStart%22%3A1678060800000%2C%22timeEnd%22%3A1678665599999%7D%5D).If this parameter is not specified (not included or empty array), the interface will query data within the default time period: [{\&quot;timeStart\&quot;:  Current timestamp minus milliseconds of 7 days,\&quot;timeEnd\&quot;: Current timestamp}].
func (r AuditLogAPIGetAuditLogsForGlobalRequest) FiltersTimes(filtersTimes string) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.filtersTimes = &filtersTimes
	return r
}

// Fuzzy query parameters, support field content
func (r AuditLogAPIGetAuditLogsForGlobalRequest) SearchKey(searchKey string) AuditLogAPIGetAuditLogsForGlobalRequest {
	r.searchKey = &searchKey
	return r
}

func (r AuditLogAPIGetAuditLogsForGlobalRequest) Execute() (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAuditLogsForGlobalExecute(r)
}

/*
GetAuditLogsForGlobal Get global audit log list

Get audit logs in global audit page.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return AuditLogAPIGetAuditLogsForGlobalRequest
*/
func (a *AuditLogAPIService) GetAuditLogsForGlobal(ctx context.Context, omadacId string) AuditLogAPIGetAuditLogsForGlobalRequest {
	return AuditLogAPIGetAuditLogsForGlobalRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOAuditLogOpenApiVO
func (a *AuditLogAPIService) GetAuditLogsForGlobalExecute(r AuditLogAPIGetAuditLogsForGlobalRequest) (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOAuditLogOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.GetAuditLogsForGlobal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/audit-logs"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.sortsTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.time", r.sortsTime, "form", "")
	}
	if r.filtersResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.result", r.filtersResult, "form", "")
	}
	if r.filtersLevel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.level", r.filtersLevel, "form", "")
	}
	if r.filtersAuditTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.auditTypes", r.filtersAuditTypes, "form", "")
	}
	if r.filtersTimes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.times", r.filtersTimes, "form", "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIGetAuditLogsForSiteRequest struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	siteId string
	page *int32
	pageSize *int32
	sortsTime *string
	filtersResult *int32
	filtersLevel *string
	filtersAuditTypes *string
	filtersTimes *string
	searchKey *string
}

// Start page number. Start from 1.
func (r AuditLogAPIGetAuditLogsForSiteRequest) Page(page int32) AuditLogAPIGetAuditLogsForSiteRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.(value:10,15,20,30,50,100)
func (r AuditLogAPIGetAuditLogsForSiteRequest) PageSize(pageSize int32) AuditLogAPIGetAuditLogsForSiteRequest {
	r.pageSize = &pageSize
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r AuditLogAPIGetAuditLogsForSiteRequest) SortsTime(sortsTime string) AuditLogAPIGetAuditLogsForSiteRequest {
	r.sortsTime = &sortsTime
	return r
}

// Filter query parameters, support field result,it should be a value as follows: 0: successful; 1: failed,example:0
func (r AuditLogAPIGetAuditLogsForSiteRequest) FiltersResult(filtersResult int32) AuditLogAPIGetAuditLogsForSiteRequest {
	r.filtersResult = &filtersResult
	return r
}

// Filter query parameters, support field level,it should be a value as follows: Error; Warning; Information, example:Error
func (r AuditLogAPIGetAuditLogsForSiteRequest) FiltersLevel(filtersLevel string) AuditLogAPIGetAuditLogsForSiteRequest {
	r.filtersLevel = &filtersLevel
	return r
}

// Filter query parameters, support field auditTypes, for the values of auditLog type, refer to section 5.2.2 of the Open API Access Guide, example:Log,Cloud Access,User Interface.
func (r AuditLogAPIGetAuditLogsForSiteRequest) FiltersAuditTypes(filtersAuditTypes string) AuditLogAPIGetAuditLogsForSiteRequest {
	r.filtersAuditTypes = &filtersAuditTypes
	return r
}

// Filter query parameters, support field times, example:[{\&quot;timeStart\&quot;:1678060800000,\&quot;timeEnd\&quot;:1678665599999}](UrlEncode:%5B%7B%22timeStart%22%3A1678060800000%2C%22timeEnd%22%3A1678665599999%7D%5D).If this parameter is not specified (not included or empty array), the interface will query data within the default time period: [{\&quot;timeStart\&quot;:  Current timestamp minus milliseconds of 7 days,\&quot;timeEnd\&quot;: Current timestamp}].
func (r AuditLogAPIGetAuditLogsForSiteRequest) FiltersTimes(filtersTimes string) AuditLogAPIGetAuditLogsForSiteRequest {
	r.filtersTimes = &filtersTimes
	return r
}

// Fuzzy query parameters, support field content
func (r AuditLogAPIGetAuditLogsForSiteRequest) SearchKey(searchKey string) AuditLogAPIGetAuditLogsForSiteRequest {
	r.searchKey = &searchKey
	return r
}

func (r AuditLogAPIGetAuditLogsForSiteRequest) Execute() (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAuditLogsForSiteExecute(r)
}

/*
GetAuditLogsForSite Get site audit log list

Get audit logs in site audit page.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return AuditLogAPIGetAuditLogsForSiteRequest
*/
func (a *AuditLogAPIService) GetAuditLogsForSite(ctx context.Context, omadacId string, siteId string) AuditLogAPIGetAuditLogsForSiteRequest {
	return AuditLogAPIGetAuditLogsForSiteRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOAuditLogOpenApiVO
func (a *AuditLogAPIService) GetAuditLogsForSiteExecute(r AuditLogAPIGetAuditLogsForSiteRequest) (*OperationResponseGridVOAuditLogOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOAuditLogOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.GetAuditLogsForSite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/audit-logs"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.sortsTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.time", r.sortsTime, "form", "")
	}
	if r.filtersResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.result", r.filtersResult, "form", "")
	}
	if r.filtersLevel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.level", r.filtersLevel, "form", "")
	}
	if r.filtersAuditTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.auditTypes", r.filtersAuditTypes, "form", "")
	}
	if r.filtersTimes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.times", r.filtersTimes, "form", "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIModifyAuditLogSettingGlobalRequest struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	auditLogNotificationSettingEditOpenApiVO *AuditLogNotificationSettingEditOpenApiVO
}

func (r AuditLogAPIModifyAuditLogSettingGlobalRequest) AuditLogNotificationSettingEditOpenApiVO(auditLogNotificationSettingEditOpenApiVO AuditLogNotificationSettingEditOpenApiVO) AuditLogAPIModifyAuditLogSettingGlobalRequest {
	r.auditLogNotificationSettingEditOpenApiVO = &auditLogNotificationSettingEditOpenApiVO
	return r
}

func (r AuditLogAPIModifyAuditLogSettingGlobalRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyAuditLogSettingGlobalExecute(r)
}

/*
ModifyAuditLogSettingGlobal Modify global audit log notification

Modify global audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Global Log & Audit Log Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return AuditLogAPIModifyAuditLogSettingGlobalRequest
*/
func (a *AuditLogAPIService) ModifyAuditLogSettingGlobal(ctx context.Context, omadacId string) AuditLogAPIModifyAuditLogSettingGlobalRequest {
	return AuditLogAPIModifyAuditLogSettingGlobalRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *AuditLogAPIService) ModifyAuditLogSettingGlobalExecute(r AuditLogAPIModifyAuditLogSettingGlobalRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.ModifyAuditLogSettingGlobal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.auditLogNotificationSettingEditOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("auditLogNotificationSettingEditOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.auditLogNotificationSettingEditOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogAPIModifyAuditLogSettingSite1Request struct {
	ctx context.Context
	ApiService AuditLogAPI
	omadacId string
	siteId string
	auditLogNotificationSettingEditOpenApiVO *AuditLogNotificationSettingEditOpenApiVO
}

func (r AuditLogAPIModifyAuditLogSettingSite1Request) AuditLogNotificationSettingEditOpenApiVO(auditLogNotificationSettingEditOpenApiVO AuditLogNotificationSettingEditOpenApiVO) AuditLogAPIModifyAuditLogSettingSite1Request {
	r.auditLogNotificationSettingEditOpenApiVO = &auditLogNotificationSettingEditOpenApiVO
	return r
}

func (r AuditLogAPIModifyAuditLogSettingSite1Request) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyAuditLogSettingSite1Execute(r)
}

/*
ModifyAuditLogSettingSite1 Modify site audit log notification

Modify site audit log notification.<br/><br/>The interface requires one of the permissions: <br/>Site Log & Audit Log Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return AuditLogAPIModifyAuditLogSettingSite1Request
*/
func (a *AuditLogAPIService) ModifyAuditLogSettingSite1(ctx context.Context, omadacId string, siteId string) AuditLogAPIModifyAuditLogSettingSite1Request {
	return AuditLogAPIModifyAuditLogSettingSite1Request{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *AuditLogAPIService) ModifyAuditLogSettingSite1Execute(r AuditLogAPIModifyAuditLogSettingSite1Request) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.ModifyAuditLogSettingSite1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/site/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.auditLogNotificationSettingEditOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("auditLogNotificationSettingEditOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.auditLogNotificationSettingEditOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
