/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type OLTONTPortAPI interface {

	/*
	EditOntEthPort Modify an existing ont eth port

	Modify an existing ont eth port<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
	@param serviceId Service Profile ID should be a number between 0-512
	@return OLTONTPortAPIEditOntEthPortRequest
	*/
	EditOntEthPort(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIEditOntEthPortRequest

	// EditOntEthPortExecute executes the request
	//  @return OperationResponseDeviceResponseBodyVoid
	EditOntEthPortExecute(r OLTONTPortAPIEditOntEthPortRequest) (*OperationResponseDeviceResponseBodyVoid, *http.Response, error)

	/*
	EditOntPotsPort Modify an existing ont pots port

	Modify an existing ont pots port<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
	@param serviceId Service Profile ID should be a number between 0-512
	@return OLTONTPortAPIEditOntPotsPortRequest
	*/
	EditOntPotsPort(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIEditOntPotsPortRequest

	// EditOntPotsPortExecute executes the request
	//  @return OperationResponseDeviceResponseBodyVoid
	EditOntPotsPortExecute(r OLTONTPortAPIEditOntPotsPortRequest) (*OperationResponseDeviceResponseBodyVoid, *http.Response, error)

	/*
	GetOntEthPortList Get ont eth port list

	Get ont eth port list<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
	@param serviceId Service Profile ID should be a number between 0-512
	@return OLTONTPortAPIGetOntEthPortListRequest
	*/
	GetOntEthPortList(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIGetOntEthPortListRequest

	// GetOntEthPortListExecute executes the request
	//  @return OperationResponseListOntEthPortDTO
	GetOntEthPortListExecute(r OLTONTPortAPIGetOntEthPortListRequest) (*OperationResponseListOntEthPortDTO, *http.Response, error)

	/*
	GetOntPotsPortList Get ont pots port list

	Get ont pots port list<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
	@param serviceId Service Profile ID should be a number between 0-512
	@return OLTONTPortAPIGetOntPotsPortListRequest
	*/
	GetOntPotsPortList(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIGetOntPotsPortListRequest

	// GetOntPotsPortListExecute executes the request
	//  @return OperationResponseListOntPotsPortDTO
	GetOntPotsPortListExecute(r OLTONTPortAPIGetOntPotsPortListRequest) (*OperationResponseListOntPotsPortDTO, *http.Response, error)
}

// OLTONTPortAPIService OLTONTPortAPI service
type OLTONTPortAPIService service

type OLTONTPortAPIEditOntEthPortRequest struct {
	ctx context.Context
	ApiService OLTONTPortAPI
	omadacId string
	siteId string
	deviceMac string
	serviceId string
	ontEthPortModifyDTO *OntEthPortModifyDTO
}

func (r OLTONTPortAPIEditOntEthPortRequest) OntEthPortModifyDTO(ontEthPortModifyDTO OntEthPortModifyDTO) OLTONTPortAPIEditOntEthPortRequest {
	r.ontEthPortModifyDTO = &ontEthPortModifyDTO
	return r
}

func (r OLTONTPortAPIEditOntEthPortRequest) Execute() (*OperationResponseDeviceResponseBodyVoid, *http.Response, error) {
	return r.ApiService.EditOntEthPortExecute(r)
}

/*
EditOntEthPort Modify an existing ont eth port

Modify an existing ont eth port<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
 @param serviceId Service Profile ID should be a number between 0-512
 @return OLTONTPortAPIEditOntEthPortRequest
*/
func (a *OLTONTPortAPIService) EditOntEthPort(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIEditOntEthPortRequest {
	return OLTONTPortAPIEditOntEthPortRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		deviceMac: deviceMac,
		serviceId: serviceId,
	}
}

// Execute executes the request
//  @return OperationResponseDeviceResponseBodyVoid
func (a *OLTONTPortAPIService) EditOntEthPortExecute(r OLTONTPortAPIEditOntEthPortRequest) (*OperationResponseDeviceResponseBodyVoid, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseDeviceResponseBodyVoid
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OLTONTPortAPIService.EditOntEthPort")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/olts/{deviceMac}/pon/profile/service/{serviceId}/eth-ports/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceMac"+"}", url.PathEscape(parameterValueToString(r.deviceMac, "deviceMac")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"serviceId"+"}", url.PathEscape(parameterValueToString(r.serviceId, "serviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ontEthPortModifyDTO == nil {
		return localVarReturnValue, nil, reportError("ontEthPortModifyDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ontEthPortModifyDTO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OLTONTPortAPIEditOntPotsPortRequest struct {
	ctx context.Context
	ApiService OLTONTPortAPI
	omadacId string
	siteId string
	deviceMac string
	serviceId string
	ontPotsPortModifyDTO *OntPotsPortModifyDTO
}

func (r OLTONTPortAPIEditOntPotsPortRequest) OntPotsPortModifyDTO(ontPotsPortModifyDTO OntPotsPortModifyDTO) OLTONTPortAPIEditOntPotsPortRequest {
	r.ontPotsPortModifyDTO = &ontPotsPortModifyDTO
	return r
}

func (r OLTONTPortAPIEditOntPotsPortRequest) Execute() (*OperationResponseDeviceResponseBodyVoid, *http.Response, error) {
	return r.ApiService.EditOntPotsPortExecute(r)
}

/*
EditOntPotsPort Modify an existing ont pots port

Modify an existing ont pots port<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
 @param serviceId Service Profile ID should be a number between 0-512
 @return OLTONTPortAPIEditOntPotsPortRequest
*/
func (a *OLTONTPortAPIService) EditOntPotsPort(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIEditOntPotsPortRequest {
	return OLTONTPortAPIEditOntPotsPortRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		deviceMac: deviceMac,
		serviceId: serviceId,
	}
}

// Execute executes the request
//  @return OperationResponseDeviceResponseBodyVoid
func (a *OLTONTPortAPIService) EditOntPotsPortExecute(r OLTONTPortAPIEditOntPotsPortRequest) (*OperationResponseDeviceResponseBodyVoid, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseDeviceResponseBodyVoid
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OLTONTPortAPIService.EditOntPotsPort")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/olts/{deviceMac}/pon/profile/service/{serviceId}/pots-ports/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceMac"+"}", url.PathEscape(parameterValueToString(r.deviceMac, "deviceMac")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"serviceId"+"}", url.PathEscape(parameterValueToString(r.serviceId, "serviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ontPotsPortModifyDTO == nil {
		return localVarReturnValue, nil, reportError("ontPotsPortModifyDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ontPotsPortModifyDTO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OLTONTPortAPIGetOntEthPortListRequest struct {
	ctx context.Context
	ApiService OLTONTPortAPI
	omadacId string
	siteId string
	deviceMac string
	serviceId string
	dto *OntEthPortListQueryDTO
}

func (r OLTONTPortAPIGetOntEthPortListRequest) Dto(dto OntEthPortListQueryDTO) OLTONTPortAPIGetOntEthPortListRequest {
	r.dto = &dto
	return r
}

func (r OLTONTPortAPIGetOntEthPortListRequest) Execute() (*OperationResponseListOntEthPortDTO, *http.Response, error) {
	return r.ApiService.GetOntEthPortListExecute(r)
}

/*
GetOntEthPortList Get ont eth port list

Get ont eth port list<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
 @param serviceId Service Profile ID should be a number between 0-512
 @return OLTONTPortAPIGetOntEthPortListRequest
*/
func (a *OLTONTPortAPIService) GetOntEthPortList(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIGetOntEthPortListRequest {
	return OLTONTPortAPIGetOntEthPortListRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		deviceMac: deviceMac,
		serviceId: serviceId,
	}
}

// Execute executes the request
//  @return OperationResponseListOntEthPortDTO
func (a *OLTONTPortAPIService) GetOntEthPortListExecute(r OLTONTPortAPIGetOntEthPortListRequest) (*OperationResponseListOntEthPortDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseListOntEthPortDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OLTONTPortAPIService.GetOntEthPortList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/olts/{deviceMac}/pon/profile/service/{serviceId}/eth-ports/list"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceMac"+"}", url.PathEscape(parameterValueToString(r.deviceMac, "deviceMac")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"serviceId"+"}", url.PathEscape(parameterValueToString(r.serviceId, "serviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dto == nil {
		return localVarReturnValue, nil, reportError("dto is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dto", r.dto, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OLTONTPortAPIGetOntPotsPortListRequest struct {
	ctx context.Context
	ApiService OLTONTPortAPI
	omadacId string
	siteId string
	deviceMac string
	serviceId string
	dto *OntPotsPortListQueryDTO
}

func (r OLTONTPortAPIGetOntPotsPortListRequest) Dto(dto OntPotsPortListQueryDTO) OLTONTPortAPIGetOntPotsPortListRequest {
	r.dto = &dto
	return r
}

func (r OLTONTPortAPIGetOntPotsPortListRequest) Execute() (*OperationResponseListOntPotsPortDTO, *http.Response, error) {
	return r.ApiService.GetOntPotsPortListExecute(r)
}

/*
GetOntPotsPortList Get ont pots port list

Get ont pots port list<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-45000  -  This OLT does not exist.<br/>-45001  -  The OLT is offline. Please reconnect<br/>-45002  -  OLT upgrading... Cannot manage the device now.<br/>-45003  -  OLT rebooting... Cannot manage the device now.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
 @param serviceId Service Profile ID should be a number between 0-512
 @return OLTONTPortAPIGetOntPotsPortListRequest
*/
func (a *OLTONTPortAPIService) GetOntPotsPortList(ctx context.Context, omadacId string, siteId string, deviceMac string, serviceId string) OLTONTPortAPIGetOntPotsPortListRequest {
	return OLTONTPortAPIGetOntPotsPortListRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		deviceMac: deviceMac,
		serviceId: serviceId,
	}
}

// Execute executes the request
//  @return OperationResponseListOntPotsPortDTO
func (a *OLTONTPortAPIService) GetOntPotsPortListExecute(r OLTONTPortAPIGetOntPotsPortListRequest) (*OperationResponseListOntPotsPortDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseListOntPotsPortDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OLTONTPortAPIService.GetOntPotsPortList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/olts/{deviceMac}/pon/profile/service/{serviceId}/pots-ports/list"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceMac"+"}", url.PathEscape(parameterValueToString(r.deviceMac, "deviceMac")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"serviceId"+"}", url.PathEscape(parameterValueToString(r.serviceId, "serviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dto == nil {
		return localVarReturnValue, nil, reportError("dto is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dto", r.dto, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
