/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AuthorizeAPI interface {

	/*
	AuthorizeCode Get authorization code (step 2)

	Exchange CSRF token and session for an authorization code. Requires the Csrf-Token header and TPOMADA_SESSIONID cookie from the login response.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorizeAPIAuthorizeCodeRequest
	*/
	AuthorizeCode(ctx context.Context) AuthorizeAPIAuthorizeCodeRequest

	// AuthorizeCodeExecute executes the request
	//  @return AuthCodeResponse
	AuthorizeCodeExecute(r AuthorizeAPIAuthorizeCodeRequest) (*AuthCodeResponse, *http.Response, error)

	/*
	AuthorizeLogin Login (Authorization Code flow step 1)

	Authenticate with username and password. Returns a CSRF token and session ID needed to obtain an authorization code.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorizeAPIAuthorizeLoginRequest
	*/
	AuthorizeLogin(ctx context.Context) AuthorizeAPIAuthorizeLoginRequest

	// AuthorizeLoginExecute executes the request
	//  @return LoginResponse
	AuthorizeLoginExecute(r AuthorizeAPIAuthorizeLoginRequest) (*LoginResponse, *http.Response, error)

	/*
	AuthorizeToken Get or refresh access token

	Obtain an access token via authorization code, client credentials, or refresh token grant. The access token is valid for 2 hours. The refresh token is valid for 14 days and is single-use.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorizeAPIAuthorizeTokenRequest
	*/
	AuthorizeToken(ctx context.Context) AuthorizeAPIAuthorizeTokenRequest

	// AuthorizeTokenExecute executes the request
	//  @return TokenResponse
	AuthorizeTokenExecute(r AuthorizeAPIAuthorizeTokenRequest) (*TokenResponse, *http.Response, error)
}

// AuthorizeAPIService AuthorizeAPI service
type AuthorizeAPIService service

type AuthorizeAPIAuthorizeCodeRequest struct {
	ctx context.Context
	ApiService AuthorizeAPI
	clientId *string
	omadacId *string
	responseType *string
	csrfToken *string
	cookie *string
}

// OAuth client ID
func (r AuthorizeAPIAuthorizeCodeRequest) ClientId(clientId string) AuthorizeAPIAuthorizeCodeRequest {
	r.clientId = &clientId
	return r
}

// Omada Controller ID
func (r AuthorizeAPIAuthorizeCodeRequest) OmadacId(omadacId string) AuthorizeAPIAuthorizeCodeRequest {
	r.omadacId = &omadacId
	return r
}

// Must be \&quot;code\&quot;
func (r AuthorizeAPIAuthorizeCodeRequest) ResponseType(responseType string) AuthorizeAPIAuthorizeCodeRequest {
	r.responseType = &responseType
	return r
}

// CSRF token from login response
func (r AuthorizeAPIAuthorizeCodeRequest) CsrfToken(csrfToken string) AuthorizeAPIAuthorizeCodeRequest {
	r.csrfToken = &csrfToken
	return r
}

// Session cookie, format: TPOMADA_SESSIONID&#x3D;&lt;sessionId&gt;
func (r AuthorizeAPIAuthorizeCodeRequest) Cookie(cookie string) AuthorizeAPIAuthorizeCodeRequest {
	r.cookie = &cookie
	return r
}

func (r AuthorizeAPIAuthorizeCodeRequest) Execute() (*AuthCodeResponse, *http.Response, error) {
	return r.ApiService.AuthorizeCodeExecute(r)
}

/*
AuthorizeCode Get authorization code (step 2)

Exchange CSRF token and session for an authorization code. Requires the Csrf-Token header and TPOMADA_SESSIONID cookie from the login response.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AuthorizeAPIAuthorizeCodeRequest
*/
func (a *AuthorizeAPIService) AuthorizeCode(ctx context.Context) AuthorizeAPIAuthorizeCodeRequest {
	return AuthorizeAPIAuthorizeCodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AuthCodeResponse
func (a *AuthorizeAPIService) AuthorizeCodeExecute(r AuthorizeAPIAuthorizeCodeRequest) (*AuthCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizeAPIService.AuthorizeCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/authorize/code"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.omadacId == nil {
		return localVarReturnValue, nil, reportError("omadacId is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}
	if r.csrfToken == nil {
		return localVarReturnValue, nil, reportError("csrfToken is required and must be specified")
	}
	if r.cookie == nil {
		return localVarReturnValue, nil, reportError("cookie is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "client_id", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "omadac_id", r.omadacId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "response_type", r.responseType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Csrf-Token", r.csrfToken, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Cookie", r.cookie, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorizeAPIAuthorizeLoginRequest struct {
	ctx context.Context
	ApiService AuthorizeAPI
	clientId *string
	omadacId *string
	loginRequest *LoginRequest
}

// OAuth client ID
func (r AuthorizeAPIAuthorizeLoginRequest) ClientId(clientId string) AuthorizeAPIAuthorizeLoginRequest {
	r.clientId = &clientId
	return r
}

// Omada Controller ID
func (r AuthorizeAPIAuthorizeLoginRequest) OmadacId(omadacId string) AuthorizeAPIAuthorizeLoginRequest {
	r.omadacId = &omadacId
	return r
}

func (r AuthorizeAPIAuthorizeLoginRequest) LoginRequest(loginRequest LoginRequest) AuthorizeAPIAuthorizeLoginRequest {
	r.loginRequest = &loginRequest
	return r
}

func (r AuthorizeAPIAuthorizeLoginRequest) Execute() (*LoginResponse, *http.Response, error) {
	return r.ApiService.AuthorizeLoginExecute(r)
}

/*
AuthorizeLogin Login (Authorization Code flow step 1)

Authenticate with username and password. Returns a CSRF token and session ID needed to obtain an authorization code.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AuthorizeAPIAuthorizeLoginRequest
*/
func (a *AuthorizeAPIService) AuthorizeLogin(ctx context.Context) AuthorizeAPIAuthorizeLoginRequest {
	return AuthorizeAPIAuthorizeLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LoginResponse
func (a *AuthorizeAPIService) AuthorizeLoginExecute(r AuthorizeAPIAuthorizeLoginRequest) (*LoginResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LoginResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizeAPIService.AuthorizeLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/authorize/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.omadacId == nil {
		return localVarReturnValue, nil, reportError("omadacId is required and must be specified")
	}
	if r.loginRequest == nil {
		return localVarReturnValue, nil, reportError("loginRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "client_id", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "omadac_id", r.omadacId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.loginRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorizeAPIAuthorizeTokenRequest struct {
	ctx context.Context
	ApiService AuthorizeAPI
	grantType *string
	tokenRequest *TokenRequest
	code *string
	refreshToken *string
}

// OAuth grant type
func (r AuthorizeAPIAuthorizeTokenRequest) GrantType(grantType string) AuthorizeAPIAuthorizeTokenRequest {
	r.grantType = &grantType
	return r
}

func (r AuthorizeAPIAuthorizeTokenRequest) TokenRequest(tokenRequest TokenRequest) AuthorizeAPIAuthorizeTokenRequest {
	r.tokenRequest = &tokenRequest
	return r
}

// Authorization code (required for authorization_code grant)
func (r AuthorizeAPIAuthorizeTokenRequest) Code(code string) AuthorizeAPIAuthorizeTokenRequest {
	r.code = &code
	return r
}

// Refresh token (required for refresh_token grant)
func (r AuthorizeAPIAuthorizeTokenRequest) RefreshToken(refreshToken string) AuthorizeAPIAuthorizeTokenRequest {
	r.refreshToken = &refreshToken
	return r
}

func (r AuthorizeAPIAuthorizeTokenRequest) Execute() (*TokenResponse, *http.Response, error) {
	return r.ApiService.AuthorizeTokenExecute(r)
}

/*
AuthorizeToken Get or refresh access token

Obtain an access token via authorization code, client credentials, or refresh token grant. The access token is valid for 2 hours. The refresh token is valid for 14 days and is single-use.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AuthorizeAPIAuthorizeTokenRequest
*/
func (a *AuthorizeAPIService) AuthorizeToken(ctx context.Context) AuthorizeAPIAuthorizeTokenRequest {
	return AuthorizeAPIAuthorizeTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TokenResponse
func (a *AuthorizeAPIService) AuthorizeTokenExecute(r AuthorizeAPIAuthorizeTokenRequest) (*TokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizeAPIService.AuthorizeToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/authorize/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantType == nil {
		return localVarReturnValue, nil, reportError("grantType is required and must be specified")
	}
	if r.tokenRequest == nil {
		return localVarReturnValue, nil, reportError("tokenRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "grant_type", r.grantType, "form", "")
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.refreshToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "refresh_token", r.refreshToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tokenRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
