/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type NetworkReportAPI interface {

	/*
	EmailNetworkReportLater Email Network Report Later

	Set the timing task configuration that send reports latterly.This interface has been deprecated. Please use the following interface instead: Export report once later<br/><br/>The interface requires one of the permissions: <br/>Site Network Report Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33004  -  Operation failed because other operations (site copying, restoring, template synchronizing, etc.) are being performed on this site. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return NetworkReportAPIEmailNetworkReportLaterRequest

	Deprecated
	*/
	EmailNetworkReportLater(ctx context.Context, omadacId string, siteId string) NetworkReportAPIEmailNetworkReportLaterRequest

	// EmailNetworkReportLaterExecute executes the request
	//  @return OperationResponse
	// Deprecated
	EmailNetworkReportLaterExecute(r NetworkReportAPIEmailNetworkReportLaterRequest) (*OperationResponse, *http.Response, error)

	/*
	EmailNetworkReportSchedule Email Network Report Schedule

	Set the timing task configuration that send reports periodically.This interface has been deprecated. Please use the following interface instead: Export report for scheduler<br/><br/>The interface requires one of the permissions: <br/>Site Network Report Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33004  -  Operation failed because other operations (site copying, restoring, template synchronizing, etc.) are being performed on this site. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return NetworkReportAPIEmailNetworkReportScheduleRequest

	Deprecated
	*/
	EmailNetworkReportSchedule(ctx context.Context, omadacId string, siteId string) NetworkReportAPIEmailNetworkReportScheduleRequest

	// EmailNetworkReportScheduleExecute executes the request
	//  @return OperationResponse
	// Deprecated
	EmailNetworkReportScheduleExecute(r NetworkReportAPIEmailNetworkReportScheduleRequest) (*OperationResponse, *http.Response, error)
}

// NetworkReportAPIService NetworkReportAPI service
type NetworkReportAPIService service

type NetworkReportAPIEmailNetworkReportLaterRequest struct {
	ctx context.Context
	ApiService NetworkReportAPI
	omadacId string
	siteId string
	networkReportScheduleLaterOpenApiVO *NetworkReportScheduleLaterOpenApiVO
}

func (r NetworkReportAPIEmailNetworkReportLaterRequest) NetworkReportScheduleLaterOpenApiVO(networkReportScheduleLaterOpenApiVO NetworkReportScheduleLaterOpenApiVO) NetworkReportAPIEmailNetworkReportLaterRequest {
	r.networkReportScheduleLaterOpenApiVO = &networkReportScheduleLaterOpenApiVO
	return r
}

func (r NetworkReportAPIEmailNetworkReportLaterRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.EmailNetworkReportLaterExecute(r)
}

/*
EmailNetworkReportLater Email Network Report Later

Set the timing task configuration that send reports latterly.This interface has been deprecated. Please use the following interface instead: Export report once later<br/><br/>The interface requires one of the permissions: <br/>Site Network Report Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33004  -  Operation failed because other operations (site copying, restoring, template synchronizing, etc.) are being performed on this site. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return NetworkReportAPIEmailNetworkReportLaterRequest

Deprecated
*/
func (a *NetworkReportAPIService) EmailNetworkReportLater(ctx context.Context, omadacId string, siteId string) NetworkReportAPIEmailNetworkReportLaterRequest {
	return NetworkReportAPIEmailNetworkReportLaterRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponse
// Deprecated
func (a *NetworkReportAPIService) EmailNetworkReportLaterExecute(r NetworkReportAPIEmailNetworkReportLaterRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkReportAPIService.EmailNetworkReportLater")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/networkReport/oneTime"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkReportScheduleLaterOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("networkReportScheduleLaterOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkReportScheduleLaterOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NetworkReportAPIEmailNetworkReportScheduleRequest struct {
	ctx context.Context
	ApiService NetworkReportAPI
	omadacId string
	siteId string
	networkReportScheduleOpenApiVO *NetworkReportScheduleOpenApiVO
}

func (r NetworkReportAPIEmailNetworkReportScheduleRequest) NetworkReportScheduleOpenApiVO(networkReportScheduleOpenApiVO NetworkReportScheduleOpenApiVO) NetworkReportAPIEmailNetworkReportScheduleRequest {
	r.networkReportScheduleOpenApiVO = &networkReportScheduleOpenApiVO
	return r
}

func (r NetworkReportAPIEmailNetworkReportScheduleRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.EmailNetworkReportScheduleExecute(r)
}

/*
EmailNetworkReportSchedule Email Network Report Schedule

Set the timing task configuration that send reports periodically.This interface has been deprecated. Please use the following interface instead: Export report for scheduler<br/><br/>The interface requires one of the permissions: <br/>Site Network Report Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33004  -  Operation failed because other operations (site copying, restoring, template synchronizing, etc.) are being performed on this site. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return NetworkReportAPIEmailNetworkReportScheduleRequest

Deprecated
*/
func (a *NetworkReportAPIService) EmailNetworkReportSchedule(ctx context.Context, omadacId string, siteId string) NetworkReportAPIEmailNetworkReportScheduleRequest {
	return NetworkReportAPIEmailNetworkReportScheduleRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponse
// Deprecated
func (a *NetworkReportAPIService) EmailNetworkReportScheduleExecute(r NetworkReportAPIEmailNetworkReportScheduleRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NetworkReportAPIService.EmailNetworkReportSchedule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/networkReport/schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkReportScheduleOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("networkReportScheduleOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.networkReportScheduleOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
