/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type EoGRETunnelAPI interface {

	/*
	GetGreTunnelConfig Get EoGRE tunnel config

	Get EoGRE tunnel config<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return EoGRETunnelAPIGetGreTunnelConfigRequest
	*/
	GetGreTunnelConfig(ctx context.Context, omadacId string, siteId string) EoGRETunnelAPIGetGreTunnelConfigRequest

	// GetGreTunnelConfigExecute executes the request
	//  @return OperationResponseEoGreTunnelSettingOpenApiVO
	GetGreTunnelConfigExecute(r EoGRETunnelAPIGetGreTunnelConfigRequest) (*OperationResponseEoGreTunnelSettingOpenApiVO, *http.Response, error)

	/*
	ModifyGreTunnelConfig Modify EoGRE tunnel config

	Modify EoGRE tunnel config<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager Modify<br/>Device Config Page Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return EoGRETunnelAPIModifyGreTunnelConfigRequest
	*/
	ModifyGreTunnelConfig(ctx context.Context, omadacId string, siteId string) EoGRETunnelAPIModifyGreTunnelConfigRequest

	// ModifyGreTunnelConfigExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyGreTunnelConfigExecute(r EoGRETunnelAPIModifyGreTunnelConfigRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// EoGRETunnelAPIService EoGRETunnelAPI service
type EoGRETunnelAPIService service

type EoGRETunnelAPIGetGreTunnelConfigRequest struct {
	ctx context.Context
	ApiService EoGRETunnelAPI
	omadacId string
	siteId string
}

func (r EoGRETunnelAPIGetGreTunnelConfigRequest) Execute() (*OperationResponseEoGreTunnelSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetGreTunnelConfigExecute(r)
}

/*
GetGreTunnelConfig Get EoGRE tunnel config

Get EoGRE tunnel config<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return EoGRETunnelAPIGetGreTunnelConfigRequest
*/
func (a *EoGRETunnelAPIService) GetGreTunnelConfig(ctx context.Context, omadacId string, siteId string) EoGRETunnelAPIGetGreTunnelConfigRequest {
	return EoGRETunnelAPIGetGreTunnelConfigRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseEoGreTunnelSettingOpenApiVO
func (a *EoGRETunnelAPIService) GetGreTunnelConfigExecute(r EoGRETunnelAPIGetGreTunnelConfigRequest) (*OperationResponseEoGreTunnelSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseEoGreTunnelSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EoGRETunnelAPIService.GetGreTunnelConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/vpn/gre-tunnel"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EoGRETunnelAPIModifyGreTunnelConfigRequest struct {
	ctx context.Context
	ApiService EoGRETunnelAPI
	omadacId string
	siteId string
	updateEoGreTunnelSettingOpenApiVO *UpdateEoGreTunnelSettingOpenApiVO
}

func (r EoGRETunnelAPIModifyGreTunnelConfigRequest) UpdateEoGreTunnelSettingOpenApiVO(updateEoGreTunnelSettingOpenApiVO UpdateEoGreTunnelSettingOpenApiVO) EoGRETunnelAPIModifyGreTunnelConfigRequest {
	r.updateEoGreTunnelSettingOpenApiVO = &updateEoGreTunnelSettingOpenApiVO
	return r
}

func (r EoGRETunnelAPIModifyGreTunnelConfigRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyGreTunnelConfigExecute(r)
}

/*
ModifyGreTunnelConfig Modify EoGRE tunnel config

Modify EoGRE tunnel config<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager Modify<br/>Device Config Page Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return EoGRETunnelAPIModifyGreTunnelConfigRequest
*/
func (a *EoGRETunnelAPIService) ModifyGreTunnelConfig(ctx context.Context, omadacId string, siteId string) EoGRETunnelAPIModifyGreTunnelConfigRequest {
	return EoGRETunnelAPIModifyGreTunnelConfigRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *EoGRETunnelAPIService) ModifyGreTunnelConfigExecute(r EoGRETunnelAPIModifyGreTunnelConfigRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EoGRETunnelAPIService.ModifyGreTunnelConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/vpn/gre-tunnel"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateEoGreTunnelSettingOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("updateEoGreTunnelSettingOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateEoGreTunnelSettingOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
