/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type WirelessIDSIPSTemplateAPI interface {

	/*
	GetWidsConfigTemplate Get wireless IDS config template

	Get wireless IDS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest
	*/
	GetWidsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest

	// GetWidsConfigTemplateExecute executes the request
	//  @return OperationResponseWidsConfigOpenApiVO
	GetWidsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest) (*OperationResponseWidsConfigOpenApiVO, *http.Response, error)

	/*
	GetWipsConfigTemplate Get wireless IPS config template

	Get wireless IPS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest
	*/
	GetWipsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest

	// GetWipsConfigTemplateExecute executes the request
	//  @return OperationResponseWipsConfigOpenApiVO
	GetWipsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest) (*OperationResponseWipsConfigOpenApiVO, *http.Response, error)

	/*
	ModifyWidsConfigTemplate Modify wireless IDS config template

	Modify wireless IDS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest
	*/
	ModifyWidsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest

	// ModifyWidsConfigTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyWidsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	ModifyWipsConfigTemplate Modify wireless IPS config template

	Modify wireless IPS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest
	*/
	ModifyWipsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest

	// ModifyWipsConfigTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyWipsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// WirelessIDSIPSTemplateAPIService WirelessIDSIPSTemplateAPI service
type WirelessIDSIPSTemplateAPIService service

type WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest struct {
	ctx context.Context
	ApiService WirelessIDSIPSTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest) Execute() (*OperationResponseWidsConfigOpenApiVO, *http.Response, error) {
	return r.ApiService.GetWidsConfigTemplateExecute(r)
}

/*
GetWidsConfigTemplate Get wireless IDS config template

Get wireless IDS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest
*/
func (a *WirelessIDSIPSTemplateAPIService) GetWidsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest {
	return WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWidsConfigOpenApiVO
func (a *WirelessIDSIPSTemplateAPIService) GetWidsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIGetWidsConfigTemplateRequest) (*OperationResponseWidsConfigOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWidsConfigOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessIDSIPSTemplateAPIService.GetWidsConfigTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/network-security/wireless-ids"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest struct {
	ctx context.Context
	ApiService WirelessIDSIPSTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest) Execute() (*OperationResponseWipsConfigOpenApiVO, *http.Response, error) {
	return r.ApiService.GetWipsConfigTemplateExecute(r)
}

/*
GetWipsConfigTemplate Get wireless IPS config template

Get wireless IPS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest
*/
func (a *WirelessIDSIPSTemplateAPIService) GetWipsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest {
	return WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWipsConfigOpenApiVO
func (a *WirelessIDSIPSTemplateAPIService) GetWipsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIGetWipsConfigTemplateRequest) (*OperationResponseWipsConfigOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWipsConfigOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessIDSIPSTemplateAPIService.GetWipsConfigTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/network-security/wireless-ips"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest struct {
	ctx context.Context
	ApiService WirelessIDSIPSTemplateAPI
	omadacId string
	siteTemplateId string
	updateWidsConfigOpenApiVO *UpdateWidsConfigOpenApiVO
}

func (r WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest) UpdateWidsConfigOpenApiVO(updateWidsConfigOpenApiVO UpdateWidsConfigOpenApiVO) WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest {
	r.updateWidsConfigOpenApiVO = &updateWidsConfigOpenApiVO
	return r
}

func (r WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyWidsConfigTemplateExecute(r)
}

/*
ModifyWidsConfigTemplate Modify wireless IDS config template

Modify wireless IDS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest
*/
func (a *WirelessIDSIPSTemplateAPIService) ModifyWidsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest {
	return WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *WirelessIDSIPSTemplateAPIService) ModifyWidsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIModifyWidsConfigTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessIDSIPSTemplateAPIService.ModifyWidsConfigTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/network-security/wireless-ids"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateWidsConfigOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("updateWidsConfigOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateWidsConfigOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest struct {
	ctx context.Context
	ApiService WirelessIDSIPSTemplateAPI
	omadacId string
	siteTemplateId string
	updateWipsConfigOpenApiVO *UpdateWipsConfigOpenApiVO
}

func (r WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest) UpdateWipsConfigOpenApiVO(updateWipsConfigOpenApiVO UpdateWipsConfigOpenApiVO) WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest {
	r.updateWipsConfigOpenApiVO = &updateWipsConfigOpenApiVO
	return r
}

func (r WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyWipsConfigTemplateExecute(r)
}

/*
ModifyWipsConfigTemplate Modify wireless IPS config template

Modify wireless IPS config template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-44119  -  This interface applies to the Omada Pro only. Please do not use it for non-Pro controllers or sites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest
*/
func (a *WirelessIDSIPSTemplateAPIService) ModifyWipsConfigTemplate(ctx context.Context, omadacId string, siteTemplateId string) WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest {
	return WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *WirelessIDSIPSTemplateAPIService) ModifyWipsConfigTemplateExecute(r WirelessIDSIPSTemplateAPIModifyWipsConfigTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WirelessIDSIPSTemplateAPIService.ModifyWipsConfigTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/network-security/wireless-ips"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateWipsConfigOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("updateWipsConfigOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateWipsConfigOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
