/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AttackDefenseTemplateAPI interface {

	/*
	GetAttackDefenseSettingTemplate Get attack and defense template setting

	Get attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site ID
	@return AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest
	*/
	GetAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest

	// GetAttackDefenseSettingTemplateExecute executes the request
	//  @return OperationResponseAttackDefenseSetting
	GetAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest) (*OperationResponseAttackDefenseSetting, *http.Response, error)

	/*
	ModifyAttackDefenseSettingTemplate Modify attack and defense template setting

	Modify attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33667  -  The gateway does not support custom large ping threshold.<br/>-33668  -  The gateway does not support Block TCP Scan with RST.<br/>-33669  -  The gateway does not support ICMP Timestamp Request.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site ID
	@return AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest
	*/
	ModifyAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest

	// ModifyAttackDefenseSettingTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	ResetAttackDefenseSettingTemplate Reset attack and defense template setting

	Reset attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site ID
	@return AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest
	*/
	ResetAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest

	// ResetAttackDefenseSettingTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ResetAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// AttackDefenseTemplateAPIService AttackDefenseTemplateAPI service
type AttackDefenseTemplateAPIService service

type AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest struct {
	ctx context.Context
	ApiService AttackDefenseTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest) Execute() (*OperationResponseAttackDefenseSetting, *http.Response, error) {
	return r.ApiService.GetAttackDefenseSettingTemplateExecute(r)
}

/*
GetAttackDefenseSettingTemplate Get attack and defense template setting

Get attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site ID
 @return AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest
*/
func (a *AttackDefenseTemplateAPIService) GetAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest {
	return AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseAttackDefenseSetting
func (a *AttackDefenseTemplateAPIService) GetAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIGetAttackDefenseSettingTemplateRequest) (*OperationResponseAttackDefenseSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseAttackDefenseSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AttackDefenseTemplateAPIService.GetAttackDefenseSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/attack-defense"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest struct {
	ctx context.Context
	ApiService AttackDefenseTemplateAPI
	omadacId string
	siteTemplateId string
	attackDefenseSetting *AttackDefenseSetting
}

func (r AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest) AttackDefenseSetting(attackDefenseSetting AttackDefenseSetting) AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest {
	r.attackDefenseSetting = &attackDefenseSetting
	return r
}

func (r AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyAttackDefenseSettingTemplateExecute(r)
}

/*
ModifyAttackDefenseSettingTemplate Modify attack and defense template setting

Modify attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33667  -  The gateway does not support custom large ping threshold.<br/>-33668  -  The gateway does not support Block TCP Scan with RST.<br/>-33669  -  The gateway does not support ICMP Timestamp Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site ID
 @return AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest
*/
func (a *AttackDefenseTemplateAPIService) ModifyAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest {
	return AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *AttackDefenseTemplateAPIService) ModifyAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIModifyAttackDefenseSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AttackDefenseTemplateAPIService.ModifyAttackDefenseSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/attack-defense"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attackDefenseSetting == nil {
		return localVarReturnValue, nil, reportError("attackDefenseSetting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.attackDefenseSetting
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest struct {
	ctx context.Context
	ApiService AttackDefenseTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ResetAttackDefenseSettingTemplateExecute(r)
}

/*
ResetAttackDefenseSettingTemplate Reset attack and defense template setting

Reset attack and defense template setting.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site ID
 @return AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest
*/
func (a *AttackDefenseTemplateAPIService) ResetAttackDefenseSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest {
	return AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *AttackDefenseTemplateAPIService) ResetAttackDefenseSettingTemplateExecute(r AttackDefenseTemplateAPIResetAttackDefenseSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AttackDefenseTemplateAPIService.ResetAttackDefenseSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/attack-defense/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
