/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AccessControlTemplateAPI interface {

	/*
	GetAccessControlTemplate Get access control setting template

	Get access control setting template with the given omadacId and siteTemplateId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return AccessControlTemplateAPIGetAccessControlTemplateRequest
	*/
	GetAccessControlTemplate(ctx context.Context, omadacId string, siteTemplateId string) AccessControlTemplateAPIGetAccessControlTemplateRequest

	// GetAccessControlTemplateExecute executes the request
	//  @return OperationResponsePortalAccessControlOpenApiVO
	GetAccessControlTemplateExecute(r AccessControlTemplateAPIGetAccessControlTemplateRequest) (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error)

	/*
	ModifyAccessControlTemplate Modify access control setting template

	Modify access control setting template. When modifying, the full configuration parameters should be passed in<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return AccessControlTemplateAPIModifyAccessControlTemplateRequest
	*/
	ModifyAccessControlTemplate(ctx context.Context, omadacId string, siteTemplateId string) AccessControlTemplateAPIModifyAccessControlTemplateRequest

	// ModifyAccessControlTemplateExecute executes the request
	//  @return OperationResponsePortalAccessControlOpenApiVO
	ModifyAccessControlTemplateExecute(r AccessControlTemplateAPIModifyAccessControlTemplateRequest) (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error)
}

// AccessControlTemplateAPIService AccessControlTemplateAPI service
type AccessControlTemplateAPIService service

type AccessControlTemplateAPIGetAccessControlTemplateRequest struct {
	ctx context.Context
	ApiService AccessControlTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r AccessControlTemplateAPIGetAccessControlTemplateRequest) Execute() (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAccessControlTemplateExecute(r)
}

/*
GetAccessControlTemplate Get access control setting template

Get access control setting template with the given omadacId and siteTemplateId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return AccessControlTemplateAPIGetAccessControlTemplateRequest
*/
func (a *AccessControlTemplateAPIService) GetAccessControlTemplate(ctx context.Context, omadacId string, siteTemplateId string) AccessControlTemplateAPIGetAccessControlTemplateRequest {
	return AccessControlTemplateAPIGetAccessControlTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponsePortalAccessControlOpenApiVO
func (a *AccessControlTemplateAPIService) GetAccessControlTemplateExecute(r AccessControlTemplateAPIGetAccessControlTemplateRequest) (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponsePortalAccessControlOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessControlTemplateAPIService.GetAccessControlTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/access-control"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccessControlTemplateAPIModifyAccessControlTemplateRequest struct {
	ctx context.Context
	ApiService AccessControlTemplateAPI
	omadacId string
	siteTemplateId string
	portalAccessControlOpenApiVO *PortalAccessControlOpenApiVO
}

func (r AccessControlTemplateAPIModifyAccessControlTemplateRequest) PortalAccessControlOpenApiVO(portalAccessControlOpenApiVO PortalAccessControlOpenApiVO) AccessControlTemplateAPIModifyAccessControlTemplateRequest {
	r.portalAccessControlOpenApiVO = &portalAccessControlOpenApiVO
	return r
}

func (r AccessControlTemplateAPIModifyAccessControlTemplateRequest) Execute() (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error) {
	return r.ApiService.ModifyAccessControlTemplateExecute(r)
}

/*
ModifyAccessControlTemplate Modify access control setting template

Modify access control setting template. When modifying, the full configuration parameters should be passed in<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return AccessControlTemplateAPIModifyAccessControlTemplateRequest
*/
func (a *AccessControlTemplateAPIService) ModifyAccessControlTemplate(ctx context.Context, omadacId string, siteTemplateId string) AccessControlTemplateAPIModifyAccessControlTemplateRequest {
	return AccessControlTemplateAPIModifyAccessControlTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponsePortalAccessControlOpenApiVO
func (a *AccessControlTemplateAPIService) ModifyAccessControlTemplateExecute(r AccessControlTemplateAPIModifyAccessControlTemplateRequest) (*OperationResponsePortalAccessControlOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponsePortalAccessControlOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessControlTemplateAPIService.ModifyAccessControlTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/access-control"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.portalAccessControlOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("portalAccessControlOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.portalAccessControlOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
