/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MSPDeviceAPI interface {

	/*
	AdoptOneForMsp Start adopt device For Msp

	Start adopt device in msp view.This interface does not return the actual adoptive result, you need to use the interface:Get device adopt result to obtain the adoptive result<br/><br/>The interface requires one of the permissions: <br/>MSP Adopt Device Manager Access<br/>MSP Add Device Manager Access

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param customerId Omada ID
	@param siteId Site ID
	@param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
	@param mspId mspId
	@return MSPDeviceAPIAdoptOneForMspRequest
	*/
	AdoptOneForMsp(ctx context.Context, customerId string, siteId string, deviceMac string, mspId string) MSPDeviceAPIAdoptOneForMspRequest

	// AdoptOneForMspExecute executes the request
	//  @return OperationResponseWithoutResult
	AdoptOneForMspExecute(r MSPDeviceAPIAdoptOneForMspRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	BatchAdoptForMsp batch adopt device in msp view

	batch adopt device in msp view.This interface does not return the actual adoptive result,you need to use the interface:Get device adopt result to obtain the adoptive result<br/><br/>The interface requires one of the permissions: <br/>MSP Adopt Device Manager Access<br/>MSP Add Device Manager Access

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@param customerId Omada ID
	@param siteId Site ID
	@return MSPDeviceAPIBatchAdoptForMspRequest
	*/
	BatchAdoptForMsp(ctx context.Context, mspId string, customerId string, siteId string) MSPDeviceAPIBatchAdoptForMspRequest

	// BatchAdoptForMspExecute executes the request
	//  @return OperationResponseWithoutResult
	BatchAdoptForMspExecute(r MSPDeviceAPIBatchAdoptForMspRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	GetMspKnownDeviceList Get MSP known device list

	Get MSP known device list<br/><br/>The interface requires one of the permissions: <br/>MSP Device Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPDeviceAPIGetMspKnownDeviceListRequest
	*/
	GetMspKnownDeviceList(ctx context.Context, mspId string) MSPDeviceAPIGetMspKnownDeviceListRequest

	// GetMspKnownDeviceListExecute executes the request
	//  @return OperationResponseGridVOMspKnownDeviceOpenApiVO
	GetMspKnownDeviceListExecute(r MSPDeviceAPIGetMspKnownDeviceListRequest) (*OperationResponseGridVOMspKnownDeviceOpenApiVO, *http.Response, error)

	/*
	GetMspUnknownDeviceList Get MSP unknown device list

	Get MSP unknown device list<br/><br/>The interface requires one of the permissions: <br/>MSP Device Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPDeviceAPIGetMspUnknownDeviceListRequest
	*/
	GetMspUnknownDeviceList(ctx context.Context, mspId string) MSPDeviceAPIGetMspUnknownDeviceListRequest

	// GetMspUnknownDeviceListExecute executes the request
	//  @return OperationResponseGridVOMspUnknownDeviceOpenApiVO
	GetMspUnknownDeviceListExecute(r MSPDeviceAPIGetMspUnknownDeviceListRequest) (*OperationResponseGridVOMspUnknownDeviceOpenApiVO, *http.Response, error)

	/*
	GetTags3 Get tag list

	Get tag list.<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/>MSP Device Manager View Only<br/>Site Map Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPDeviceAPIGetTags3Request
	*/
	GetTags3(ctx context.Context, mspId string) MSPDeviceAPIGetTags3Request

	// GetTags3Execute executes the request
	//  @return OperationResponseListTagRespOpenApiVO
	GetTags3Execute(r MSPDeviceAPIGetTags3Request) (*OperationResponseListTagRespOpenApiVO, *http.Response, error)
}

// MSPDeviceAPIService MSPDeviceAPI service
type MSPDeviceAPIService service

type MSPDeviceAPIAdoptOneForMspRequest struct {
	ctx context.Context
	ApiService MSPDeviceAPI
	customerId string
	siteId string
	deviceMac string
	mspId string
	adoptDeviceRequest *AdoptDeviceRequest
}

func (r MSPDeviceAPIAdoptOneForMspRequest) AdoptDeviceRequest(adoptDeviceRequest AdoptDeviceRequest) MSPDeviceAPIAdoptOneForMspRequest {
	r.adoptDeviceRequest = &adoptDeviceRequest
	return r
}

func (r MSPDeviceAPIAdoptOneForMspRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.AdoptOneForMspExecute(r)
}

/*
AdoptOneForMsp Start adopt device For Msp

Start adopt device in msp view.This interface does not return the actual adoptive result, you need to use the interface:Get device adopt result to obtain the adoptive result<br/><br/>The interface requires one of the permissions: <br/>MSP Adopt Device Manager Access<br/>MSP Add Device Manager Access

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId Omada ID
 @param siteId Site ID
 @param deviceMac Device MAC address, like AA-BB-CC-DD-EE-FF
 @param mspId mspId
 @return MSPDeviceAPIAdoptOneForMspRequest
*/
func (a *MSPDeviceAPIService) AdoptOneForMsp(ctx context.Context, customerId string, siteId string, deviceMac string, mspId string) MSPDeviceAPIAdoptOneForMspRequest {
	return MSPDeviceAPIAdoptOneForMspRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		siteId: siteId,
		deviceMac: deviceMac,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MSPDeviceAPIService) AdoptOneForMspExecute(r MSPDeviceAPIAdoptOneForMspRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPDeviceAPIService.AdoptOneForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/customers/{customerId}/sites/{siteId}/devices/{deviceMac}/start-adopt"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceMac"+"}", url.PathEscape(parameterValueToString(r.deviceMac, "deviceMac")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.adoptDeviceRequest == nil {
		return localVarReturnValue, nil, reportError("adoptDeviceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.adoptDeviceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPDeviceAPIBatchAdoptForMspRequest struct {
	ctx context.Context
	ApiService MSPDeviceAPI
	mspId string
	customerId string
	siteId string
	batchAdoptDeviceRequest *BatchAdoptDeviceRequest
}

func (r MSPDeviceAPIBatchAdoptForMspRequest) BatchAdoptDeviceRequest(batchAdoptDeviceRequest BatchAdoptDeviceRequest) MSPDeviceAPIBatchAdoptForMspRequest {
	r.batchAdoptDeviceRequest = &batchAdoptDeviceRequest
	return r
}

func (r MSPDeviceAPIBatchAdoptForMspRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.BatchAdoptForMspExecute(r)
}

/*
BatchAdoptForMsp batch adopt device in msp view

batch adopt device in msp view.This interface does not return the actual adoptive result,you need to use the interface:Get device adopt result to obtain the adoptive result<br/><br/>The interface requires one of the permissions: <br/>MSP Adopt Device Manager Access<br/>MSP Add Device Manager Access

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @param customerId Omada ID
 @param siteId Site ID
 @return MSPDeviceAPIBatchAdoptForMspRequest
*/
func (a *MSPDeviceAPIService) BatchAdoptForMsp(ctx context.Context, mspId string, customerId string, siteId string) MSPDeviceAPIBatchAdoptForMspRequest {
	return MSPDeviceAPIBatchAdoptForMspRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
		customerId: customerId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MSPDeviceAPIService) BatchAdoptForMspExecute(r MSPDeviceAPIBatchAdoptForMspRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPDeviceAPIService.BatchAdoptForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/customers/{customerId}/sites/{siteId}/cmd/devices/batch-adopt"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchAdoptDeviceRequest == nil {
		return localVarReturnValue, nil, reportError("batchAdoptDeviceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchAdoptDeviceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPDeviceAPIGetMspKnownDeviceListRequest struct {
	ctx context.Context
	ApiService MSPDeviceAPI
	mspId string
	page *int32
	pageSize *int32
	searchMacs *string
	searchNames *string
	searchModels *string
	searchSns *string
	filtersTag *string
	filtersDeviceSeriesType *string
}

// Start page number. Start from 1.
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) Page(page int32) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) PageSize(pageSize int32) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.pageSize = &pageSize
	return r
}

// Fuzzy query parameters, support field mac
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) SearchMacs(searchMacs string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.searchMacs = &searchMacs
	return r
}

// Fuzzy query parameters, support field name
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) SearchNames(searchNames string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.searchNames = &searchNames
	return r
}

// Fuzzy query parameters, support field model
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) SearchModels(searchModels string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.searchModels = &searchModels
	return r
}

// Fuzzy query parameters, support field sn
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) SearchSns(searchSns string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.searchSns = &searchSns
	return r
}

// Filter query parameters, support field tag ID
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) FiltersTag(filtersTag string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.filtersTag = &filtersTag
	return r
}

// Filter query parameters, support field Device series type. 0: basic; 1: pro.
func (r MSPDeviceAPIGetMspKnownDeviceListRequest) FiltersDeviceSeriesType(filtersDeviceSeriesType string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	r.filtersDeviceSeriesType = &filtersDeviceSeriesType
	return r
}

func (r MSPDeviceAPIGetMspKnownDeviceListRequest) Execute() (*OperationResponseGridVOMspKnownDeviceOpenApiVO, *http.Response, error) {
	return r.ApiService.GetMspKnownDeviceListExecute(r)
}

/*
GetMspKnownDeviceList Get MSP known device list

Get MSP known device list<br/><br/>The interface requires one of the permissions: <br/>MSP Device Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPDeviceAPIGetMspKnownDeviceListRequest
*/
func (a *MSPDeviceAPIService) GetMspKnownDeviceList(ctx context.Context, mspId string) MSPDeviceAPIGetMspKnownDeviceListRequest {
	return MSPDeviceAPIGetMspKnownDeviceListRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOMspKnownDeviceOpenApiVO
func (a *MSPDeviceAPIService) GetMspKnownDeviceListExecute(r MSPDeviceAPIGetMspKnownDeviceListRequest) (*OperationResponseGridVOMspKnownDeviceOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOMspKnownDeviceOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPDeviceAPIService.GetMspKnownDeviceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/devices/known-devices"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.searchMacs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchMacs", r.searchMacs, "form", "")
	}
	if r.searchNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchNames", r.searchNames, "form", "")
	}
	if r.searchModels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchModels", r.searchModels, "form", "")
	}
	if r.searchSns != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchSns", r.searchSns, "form", "")
	}
	if r.filtersTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.tag", r.filtersTag, "form", "")
	}
	if r.filtersDeviceSeriesType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.deviceSeriesType", r.filtersDeviceSeriesType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPDeviceAPIGetMspUnknownDeviceListRequest struct {
	ctx context.Context
	ApiService MSPDeviceAPI
	mspId string
	page *int32
	pageSize *int32
	searchMacs *string
	searchNames *string
	searchModels *string
	filtersDeviceSeriesType *string
}

// Start page number. Start from 1.
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) Page(page int32) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) PageSize(pageSize int32) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.pageSize = &pageSize
	return r
}

// Fuzzy query parameters, support field mac
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) SearchMacs(searchMacs string) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.searchMacs = &searchMacs
	return r
}

// Fuzzy query parameters, support field name
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) SearchNames(searchNames string) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.searchNames = &searchNames
	return r
}

// Fuzzy query parameters, support field model
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) SearchModels(searchModels string) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.searchModels = &searchModels
	return r
}

// Filter query parameters, support field Device series type. 0: basic; 1: pro.
func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) FiltersDeviceSeriesType(filtersDeviceSeriesType string) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	r.filtersDeviceSeriesType = &filtersDeviceSeriesType
	return r
}

func (r MSPDeviceAPIGetMspUnknownDeviceListRequest) Execute() (*OperationResponseGridVOMspUnknownDeviceOpenApiVO, *http.Response, error) {
	return r.ApiService.GetMspUnknownDeviceListExecute(r)
}

/*
GetMspUnknownDeviceList Get MSP unknown device list

Get MSP unknown device list<br/><br/>The interface requires one of the permissions: <br/>MSP Device Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPDeviceAPIGetMspUnknownDeviceListRequest
*/
func (a *MSPDeviceAPIService) GetMspUnknownDeviceList(ctx context.Context, mspId string) MSPDeviceAPIGetMspUnknownDeviceListRequest {
	return MSPDeviceAPIGetMspUnknownDeviceListRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOMspUnknownDeviceOpenApiVO
func (a *MSPDeviceAPIService) GetMspUnknownDeviceListExecute(r MSPDeviceAPIGetMspUnknownDeviceListRequest) (*OperationResponseGridVOMspUnknownDeviceOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOMspUnknownDeviceOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPDeviceAPIService.GetMspUnknownDeviceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/devices/unknown-devices"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.searchMacs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchMacs", r.searchMacs, "form", "")
	}
	if r.searchNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchNames", r.searchNames, "form", "")
	}
	if r.searchModels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchModels", r.searchModels, "form", "")
	}
	if r.filtersDeviceSeriesType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters.deviceSeriesType", r.filtersDeviceSeriesType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPDeviceAPIGetTags3Request struct {
	ctx context.Context
	ApiService MSPDeviceAPI
	mspId string
}

func (r MSPDeviceAPIGetTags3Request) Execute() (*OperationResponseListTagRespOpenApiVO, *http.Response, error) {
	return r.ApiService.GetTags3Execute(r)
}

/*
GetTags3 Get tag list

Get tag list.<br/><br/>The interface requires one of the permissions: <br/>Site Device Manager View Only<br/>MSP Device Manager View Only<br/>Site Map Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPDeviceAPIGetTags3Request
*/
func (a *MSPDeviceAPIService) GetTags3(ctx context.Context, mspId string) MSPDeviceAPIGetTags3Request {
	return MSPDeviceAPIGetTags3Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseListTagRespOpenApiVO
func (a *MSPDeviceAPIService) GetTags3Execute(r MSPDeviceAPIGetTags3Request) (*OperationResponseListTagRespOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseListTagRespOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPDeviceAPIService.GetTags3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/devices/tag"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
