/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type SNMPTemplateAPI interface {

	/*
	GetSnmpSettingTemplate Get SNMP template setting

	Get SNMP template setting info of the site with the given omadacId and siteId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return SNMPTemplateAPIGetSnmpSettingTemplateRequest
	*/
	GetSnmpSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) SNMPTemplateAPIGetSnmpSettingTemplateRequest

	// GetSnmpSettingTemplateExecute executes the request
	//  @return OperationResponseSnmpSettingOpenApiVO
	GetSnmpSettingTemplateExecute(r SNMPTemplateAPIGetSnmpSettingTemplateRequest) (*OperationResponseSnmpSettingOpenApiVO, *http.Response, error)

	/*
	ModifySnmpSettingTemplate Modify SNMP template setting

	Modify SNMP template setting info of the site with the given params.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-34503  -  Community String cannot be the same as the username.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return SNMPTemplateAPIModifySnmpSettingTemplateRequest
	*/
	ModifySnmpSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) SNMPTemplateAPIModifySnmpSettingTemplateRequest

	// ModifySnmpSettingTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifySnmpSettingTemplateExecute(r SNMPTemplateAPIModifySnmpSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// SNMPTemplateAPIService SNMPTemplateAPI service
type SNMPTemplateAPIService service

type SNMPTemplateAPIGetSnmpSettingTemplateRequest struct {
	ctx context.Context
	ApiService SNMPTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r SNMPTemplateAPIGetSnmpSettingTemplateRequest) Execute() (*OperationResponseSnmpSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetSnmpSettingTemplateExecute(r)
}

/*
GetSnmpSettingTemplate Get SNMP template setting

Get SNMP template setting info of the site with the given omadacId and siteId.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return SNMPTemplateAPIGetSnmpSettingTemplateRequest
*/
func (a *SNMPTemplateAPIService) GetSnmpSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) SNMPTemplateAPIGetSnmpSettingTemplateRequest {
	return SNMPTemplateAPIGetSnmpSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseSnmpSettingOpenApiVO
func (a *SNMPTemplateAPIService) GetSnmpSettingTemplateExecute(r SNMPTemplateAPIGetSnmpSettingTemplateRequest) (*OperationResponseSnmpSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseSnmpSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SNMPTemplateAPIService.GetSnmpSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/snmp"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SNMPTemplateAPIModifySnmpSettingTemplateRequest struct {
	ctx context.Context
	ApiService SNMPTemplateAPI
	omadacId string
	siteTemplateId string
	snmpSettingOpenApiVO *SnmpSettingOpenApiVO
}

func (r SNMPTemplateAPIModifySnmpSettingTemplateRequest) SnmpSettingOpenApiVO(snmpSettingOpenApiVO SnmpSettingOpenApiVO) SNMPTemplateAPIModifySnmpSettingTemplateRequest {
	r.snmpSettingOpenApiVO = &snmpSettingOpenApiVO
	return r
}

func (r SNMPTemplateAPIModifySnmpSettingTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifySnmpSettingTemplateExecute(r)
}

/*
ModifySnmpSettingTemplate Modify SNMP template setting

Modify SNMP template setting info of the site with the given params.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-34503  -  Community String cannot be the same as the username.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return SNMPTemplateAPIModifySnmpSettingTemplateRequest
*/
func (a *SNMPTemplateAPIService) ModifySnmpSettingTemplate(ctx context.Context, omadacId string, siteTemplateId string) SNMPTemplateAPIModifySnmpSettingTemplateRequest {
	return SNMPTemplateAPIModifySnmpSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *SNMPTemplateAPIService) ModifySnmpSettingTemplateExecute(r SNMPTemplateAPIModifySnmpSettingTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SNMPTemplateAPIService.ModifySnmpSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/setting/service/snmp"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.snmpSettingOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("snmpSettingOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snmpSettingOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
