/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type BackupScheduleAPI interface {

	/*
	GetBackupScheduleTask Get backup schedule task

	Get backup schedule task.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return BackupScheduleAPIGetBackupScheduleTaskRequest
	*/
	GetBackupScheduleTask(ctx context.Context, omadacId string) BackupScheduleAPIGetBackupScheduleTaskRequest

	// GetBackupScheduleTaskExecute executes the request
	//  @return OperationResponseAutoBackupOpenApiVO
	GetBackupScheduleTaskExecute(r BackupScheduleAPIGetBackupScheduleTaskRequest) (*OperationResponseAutoBackupOpenApiVO, *http.Response, error)

	/*
	ModifyBackupScheduleTask Modify backup schedule task

	Modify backup schedule task.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return BackupScheduleAPIModifyBackupScheduleTaskRequest
	*/
	ModifyBackupScheduleTask(ctx context.Context, omadacId string) BackupScheduleAPIModifyBackupScheduleTaskRequest

	// ModifyBackupScheduleTaskExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyBackupScheduleTaskExecute(r BackupScheduleAPIModifyBackupScheduleTaskRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// BackupScheduleAPIService BackupScheduleAPI service
type BackupScheduleAPIService service

type BackupScheduleAPIGetBackupScheduleTaskRequest struct {
	ctx context.Context
	ApiService BackupScheduleAPI
	omadacId string
}

func (r BackupScheduleAPIGetBackupScheduleTaskRequest) Execute() (*OperationResponseAutoBackupOpenApiVO, *http.Response, error) {
	return r.ApiService.GetBackupScheduleTaskExecute(r)
}

/*
GetBackupScheduleTask Get backup schedule task

Get backup schedule task.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return BackupScheduleAPIGetBackupScheduleTaskRequest
*/
func (a *BackupScheduleAPIService) GetBackupScheduleTask(ctx context.Context, omadacId string) BackupScheduleAPIGetBackupScheduleTaskRequest {
	return BackupScheduleAPIGetBackupScheduleTaskRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseAutoBackupOpenApiVO
func (a *BackupScheduleAPIService) GetBackupScheduleTaskExecute(r BackupScheduleAPIGetBackupScheduleTaskRequest) (*OperationResponseAutoBackupOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseAutoBackupOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupScheduleAPIService.GetBackupScheduleTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/backupschedule/task"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BackupScheduleAPIModifyBackupScheduleTaskRequest struct {
	ctx context.Context
	ApiService BackupScheduleAPI
	omadacId string
	autoBackupOpenApiVO *AutoBackupOpenApiVO
}

func (r BackupScheduleAPIModifyBackupScheduleTaskRequest) AutoBackupOpenApiVO(autoBackupOpenApiVO AutoBackupOpenApiVO) BackupScheduleAPIModifyBackupScheduleTaskRequest {
	r.autoBackupOpenApiVO = &autoBackupOpenApiVO
	return r
}

func (r BackupScheduleAPIModifyBackupScheduleTaskRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyBackupScheduleTaskExecute(r)
}

/*
ModifyBackupScheduleTask Modify backup schedule task

Modify backup schedule task.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return BackupScheduleAPIModifyBackupScheduleTaskRequest
*/
func (a *BackupScheduleAPIService) ModifyBackupScheduleTask(ctx context.Context, omadacId string) BackupScheduleAPIModifyBackupScheduleTaskRequest {
	return BackupScheduleAPIModifyBackupScheduleTaskRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *BackupScheduleAPIService) ModifyBackupScheduleTaskExecute(r BackupScheduleAPIModifyBackupScheduleTaskRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupScheduleAPIService.ModifyBackupScheduleTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/backupschedule/task"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoBackupOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("autoBackupOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoBackupOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
