/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type WiFiCallingTrafficAPI interface {

	/*
	ExportBatchFullChannelDetectResultData Export wi-fi calling traffic summary

	Export wi-fi calling traffic summary.<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param format export data format
	@return WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest
	*/
	ExportBatchFullChannelDetectResultData(ctx context.Context, omadacId string, siteId string, format string) WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest

	// ExportBatchFullChannelDetectResultDataExecute executes the request
	//  @return OperationResponseWithoutResult
	ExportBatchFullChannelDetectResultDataExecute(r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	GetGridWifiCallingTrafficResult Get Wi-Fi Calling Summary

	Get Wi-Fi Calling Summary.<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest
	*/
	GetGridWifiCallingTrafficResult(ctx context.Context, omadacId string, siteId string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest

	// GetGridWifiCallingTrafficResultExecute executes the request
	//  @return OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO
	GetGridWifiCallingTrafficResultExecute(r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) (*OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO, *http.Response, error)
}

// WiFiCallingTrafficAPIService WiFiCallingTrafficAPI service
type WiFiCallingTrafficAPIService service

type WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest struct {
	ctx context.Context
	ApiService WiFiCallingTrafficAPI
	omadacId string
	siteId string
	format string
	timeStart *int64
	timeEnd *int64
	searchKey *string
}

// Filter query parameters, support field time range: start timestamp (second).
func (r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) TimeStart(timeStart int64) WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest {
	r.timeStart = &timeStart
	return r
}

// Filter query parameters, support field time range: end timestamp (second).
func (r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) TimeEnd(timeEnd int64) WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest {
	r.timeEnd = &timeEnd
	return r
}

// Fuzzy query parameters, support field clientName,clientMac,ip,ssid,domain
func (r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) SearchKey(searchKey string) WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest {
	r.searchKey = &searchKey
	return r
}

func (r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ExportBatchFullChannelDetectResultDataExecute(r)
}

/*
ExportBatchFullChannelDetectResultData Export wi-fi calling traffic summary

Export wi-fi calling traffic summary.<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param format export data format
 @return WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest
*/
func (a *WiFiCallingTrafficAPIService) ExportBatchFullChannelDetectResultData(ctx context.Context, omadacId string, siteId string, format string) WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest {
	return WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		format: format,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *WiFiCallingTrafficAPIService) ExportBatchFullChannelDetectResultDataExecute(r WiFiCallingTrafficAPIExportBatchFullChannelDetectResultDataRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WiFiCallingTrafficAPIService.ExportBatchFullChannelDetectResultData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/files/sites/{siteId}/wifi-calling/summary/{format}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"format"+"}", url.PathEscape(parameterValueToString(r.format, "format")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timeStart == nil {
		return localVarReturnValue, nil, reportError("timeStart is required and must be specified")
	}
	if r.timeEnd == nil {
		return localVarReturnValue, nil, reportError("timeEnd is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "timeStart", r.timeStart, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "timeEnd", r.timeEnd, "form", "")
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest struct {
	ctx context.Context
	ApiService WiFiCallingTrafficAPI
	omadacId string
	siteId string
	queryTopSsid *bool
	queryTopEPDG *bool
	queryClients *bool
	queryClientsByMac *bool
	page *int32
	pageSize *int32
	filtersTimeStart *int64
	filtersTimeEnd *int64
	topK *int32
	sortsApName *string
	sortsCarrierName *string
	sortsWifiCallingProfileName *string
	sortsClientName *string
	sortsIp *string
	sortsDomain *string
	sortsTrafficDown *string
	sortsTrafficUp *string
	sortsTotalTraffic *string
	sortsClientMac *string
	sortsPriority *string
	sortsSsid *string
	sortsStartTime *string
	sortsEndTime *string
	searchKey *string
}

// Whether to query top k ssids by traffic.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) QueryTopSsid(queryTopSsid bool) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.queryTopSsid = &queryTopSsid
	return r
}

// Whether to query top k ePDGs by traffic.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) QueryTopEPDG(queryTopEPDG bool) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.queryTopEPDG = &queryTopEPDG
	return r
}

// Whether to query client history.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) QueryClients(queryClients bool) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.queryClients = &queryClients
	return r
}

// Whether to query client history by client MAC.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) QueryClientsByMac(queryClientsByMac bool) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.queryClientsByMac = &queryClientsByMac
	return r
}

func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) Page(page int32) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) PageSize(pageSize int32) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.pageSize = &pageSize
	return r
}

// Filter query parameters, support field time range: start timestamp (second).
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) FiltersTimeStart(filtersTimeStart int64) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.filtersTimeStart = &filtersTimeStart
	return r
}

// Filter query parameters, support field time range: end timestamp (second).
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) FiltersTimeEnd(filtersTimeEnd int64) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.filtersTimeEnd = &filtersTimeEnd
	return r
}

// Get the top-k SSIDs or EPDGs based on voice call traffic statistics. Parameter [topK] should not be null when parameter [queryTopEPDG] or parameter [queryTopEPDG] is true.
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) TopK(topK int32) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.topK = &topK
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsApName(sortsApName string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsApName = &sortsApName
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsCarrierName(sortsCarrierName string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsCarrierName = &sortsCarrierName
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsWifiCallingProfileName(sortsWifiCallingProfileName string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsWifiCallingProfileName = &sortsWifiCallingProfileName
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsClientName(sortsClientName string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsClientName = &sortsClientName
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsIp(sortsIp string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsIp = &sortsIp
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsDomain(sortsDomain string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsDomain = &sortsDomain
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsTrafficDown(sortsTrafficDown string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsTrafficDown = &sortsTrafficDown
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsTrafficUp(sortsTrafficUp string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsTrafficUp = &sortsTrafficUp
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsTotalTraffic(sortsTotalTraffic string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsTotalTraffic = &sortsTotalTraffic
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsClientMac(sortsClientMac string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsClientMac = &sortsClientMac
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsPriority(sortsPriority string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsPriority = &sortsPriority
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsSsid(sortsSsid string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsSsid = &sortsSsid
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsStartTime(sortsStartTime string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsStartTime = &sortsStartTime
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SortsEndTime(sortsEndTime string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.sortsEndTime = &sortsEndTime
	return r
}

// Fuzzy query parameters, support field clientName,clientMac,ip,ssid,domain
func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) SearchKey(searchKey string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	r.searchKey = &searchKey
	return r
}

func (r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) Execute() (*OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO, *http.Response, error) {
	return r.ApiService.GetGridWifiCallingTrafficResultExecute(r)
}

/*
GetGridWifiCallingTrafficResult Get Wi-Fi Calling Summary

Get Wi-Fi Calling Summary.<br/><br/>The interface requires one of the permissions: <br/>Site Settings Manager View Only<br/>Device Config Page View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest
*/
func (a *WiFiCallingTrafficAPIService) GetGridWifiCallingTrafficResult(ctx context.Context, omadacId string, siteId string) WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest {
	return WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO
func (a *WiFiCallingTrafficAPIService) GetGridWifiCallingTrafficResultExecute(r WiFiCallingTrafficAPIGetGridWifiCallingTrafficResultRequest) (*OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWifiCallingTrafficGridOpenApiVOWifiCallingTrafficOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WiFiCallingTrafficAPIService.GetGridWifiCallingTrafficResult")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/profiles/wifi-calling/grid/summary"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.queryTopSsid == nil {
		return localVarReturnValue, nil, reportError("queryTopSsid is required and must be specified")
	}
	if r.queryTopEPDG == nil {
		return localVarReturnValue, nil, reportError("queryTopEPDG is required and must be specified")
	}
	if r.queryClients == nil {
		return localVarReturnValue, nil, reportError("queryClients is required and must be specified")
	}
	if r.queryClientsByMac == nil {
		return localVarReturnValue, nil, reportError("queryClientsByMac is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}
	if r.filtersTimeStart == nil {
		return localVarReturnValue, nil, reportError("filtersTimeStart is required and must be specified")
	}
	if r.filtersTimeEnd == nil {
		return localVarReturnValue, nil, reportError("filtersTimeEnd is required and must be specified")
	}

	if r.topK != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topK", r.topK, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "queryTopSsid", r.queryTopSsid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "queryTopEPDG", r.queryTopEPDG, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "queryClients", r.queryClients, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "queryClientsByMac", r.queryClientsByMac, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.sortsApName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.apName", r.sortsApName, "form", "")
	}
	if r.sortsCarrierName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.carrierName", r.sortsCarrierName, "form", "")
	}
	if r.sortsWifiCallingProfileName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.wifiCallingProfileName", r.sortsWifiCallingProfileName, "form", "")
	}
	if r.sortsClientName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.clientName", r.sortsClientName, "form", "")
	}
	if r.sortsIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.ip", r.sortsIp, "form", "")
	}
	if r.sortsDomain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.domain", r.sortsDomain, "form", "")
	}
	if r.sortsTrafficDown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.trafficDown", r.sortsTrafficDown, "form", "")
	}
	if r.sortsTrafficUp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.trafficUp", r.sortsTrafficUp, "form", "")
	}
	if r.sortsTotalTraffic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.totalTraffic", r.sortsTotalTraffic, "form", "")
	}
	if r.sortsClientMac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.clientMac", r.sortsClientMac, "form", "")
	}
	if r.sortsPriority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.priority", r.sortsPriority, "form", "")
	}
	if r.sortsSsid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.ssid", r.sortsSsid, "form", "")
	}
	if r.sortsStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.startTime", r.sortsStartTime, "form", "")
	}
	if r.sortsEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.endTime", r.sortsEndTime, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filters.timeStart", r.filtersTimeStart, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filters.timeEnd", r.filtersTimeEnd, "form", "")
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
