/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type HotspotOperatorsAPI interface {

	/*
	CreateHotspotOperator Create a new hotspot operator

	Create a new hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return HotspotOperatorsAPICreateHotspotOperatorRequest
	*/
	CreateHotspotOperator(ctx context.Context, omadacId string, siteId string) HotspotOperatorsAPICreateHotspotOperatorRequest

	// CreateHotspotOperatorExecute executes the request
	//  @return OperationResponse
	CreateHotspotOperatorExecute(r HotspotOperatorsAPICreateHotspotOperatorRequest) (*OperationResponse, *http.Response, error)

	/*
	DeleteHotspotOperator Delete an existing hotspot operator

	Delete an existing hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param id Hotspot Operator ID
	@return HotspotOperatorsAPIDeleteHotspotOperatorRequest
	*/
	DeleteHotspotOperator(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIDeleteHotspotOperatorRequest

	// DeleteHotspotOperatorExecute executes the request
	//  @return OperationResponse
	DeleteHotspotOperatorExecute(r HotspotOperatorsAPIDeleteHotspotOperatorRequest) (*OperationResponse, *http.Response, error)

	/*
	GetHotspotOperatorDetail Get hotspot operator detail

	Get hotspot operator detail.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param id Hotspot Operator ID
	@return HotspotOperatorsAPIGetHotspotOperatorDetailRequest
	*/
	GetHotspotOperatorDetail(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIGetHotspotOperatorDetailRequest

	// GetHotspotOperatorDetailExecute executes the request
	//  @return OperationResponseOperatorResponse
	GetHotspotOperatorDetailExecute(r HotspotOperatorsAPIGetHotspotOperatorDetailRequest) (*OperationResponseOperatorResponse, *http.Response, error)

	/*
	GetHotspotOperatorList Get hotspot operators list

	Get hotspot operators list.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return HotspotOperatorsAPIGetHotspotOperatorListRequest
	*/
	GetHotspotOperatorList(ctx context.Context, omadacId string, siteId string) HotspotOperatorsAPIGetHotspotOperatorListRequest

	// GetHotspotOperatorListExecute executes the request
	//  @return OperationResponseGridVOOperatorResponse
	GetHotspotOperatorListExecute(r HotspotOperatorsAPIGetHotspotOperatorListRequest) (*OperationResponseGridVOOperatorResponse, *http.Response, error)

	/*
	ModifyHotspotOperator Modify an existing hotspot operator

	Modify an existing hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param id Hotspot Operator ID
	@return HotspotOperatorsAPIModifyHotspotOperatorRequest
	*/
	ModifyHotspotOperator(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIModifyHotspotOperatorRequest

	// ModifyHotspotOperatorExecute executes the request
	//  @return OperationResponseString
	ModifyHotspotOperatorExecute(r HotspotOperatorsAPIModifyHotspotOperatorRequest) (*OperationResponseString, *http.Response, error)
}

// HotspotOperatorsAPIService HotspotOperatorsAPI service
type HotspotOperatorsAPIService service

type HotspotOperatorsAPICreateHotspotOperatorRequest struct {
	ctx context.Context
	ApiService HotspotOperatorsAPI
	omadacId string
	siteId string
	hotspotOperator *HotspotOperator
}

func (r HotspotOperatorsAPICreateHotspotOperatorRequest) HotspotOperator(hotspotOperator HotspotOperator) HotspotOperatorsAPICreateHotspotOperatorRequest {
	r.hotspotOperator = &hotspotOperator
	return r
}

func (r HotspotOperatorsAPICreateHotspotOperatorRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.CreateHotspotOperatorExecute(r)
}

/*
CreateHotspotOperator Create a new hotspot operator

Create a new hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return HotspotOperatorsAPICreateHotspotOperatorRequest
*/
func (a *HotspotOperatorsAPIService) CreateHotspotOperator(ctx context.Context, omadacId string, siteId string) HotspotOperatorsAPICreateHotspotOperatorRequest {
	return HotspotOperatorsAPICreateHotspotOperatorRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *HotspotOperatorsAPIService) CreateHotspotOperatorExecute(r HotspotOperatorsAPICreateHotspotOperatorRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HotspotOperatorsAPIService.CreateHotspotOperator")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/hotspot/operators"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hotspotOperator == nil {
		return localVarReturnValue, nil, reportError("hotspotOperator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hotspotOperator
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HotspotOperatorsAPIDeleteHotspotOperatorRequest struct {
	ctx context.Context
	ApiService HotspotOperatorsAPI
	omadacId string
	siteId string
	id string
}

func (r HotspotOperatorsAPIDeleteHotspotOperatorRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.DeleteHotspotOperatorExecute(r)
}

/*
DeleteHotspotOperator Delete an existing hotspot operator

Delete an existing hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param id Hotspot Operator ID
 @return HotspotOperatorsAPIDeleteHotspotOperatorRequest
*/
func (a *HotspotOperatorsAPIService) DeleteHotspotOperator(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIDeleteHotspotOperatorRequest {
	return HotspotOperatorsAPIDeleteHotspotOperatorRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		id: id,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *HotspotOperatorsAPIService) DeleteHotspotOperatorExecute(r HotspotOperatorsAPIDeleteHotspotOperatorRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HotspotOperatorsAPIService.DeleteHotspotOperator")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/hotspot/operators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HotspotOperatorsAPIGetHotspotOperatorDetailRequest struct {
	ctx context.Context
	ApiService HotspotOperatorsAPI
	omadacId string
	siteId string
	id string
}

func (r HotspotOperatorsAPIGetHotspotOperatorDetailRequest) Execute() (*OperationResponseOperatorResponse, *http.Response, error) {
	return r.ApiService.GetHotspotOperatorDetailExecute(r)
}

/*
GetHotspotOperatorDetail Get hotspot operator detail

Get hotspot operator detail.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param id Hotspot Operator ID
 @return HotspotOperatorsAPIGetHotspotOperatorDetailRequest
*/
func (a *HotspotOperatorsAPIService) GetHotspotOperatorDetail(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIGetHotspotOperatorDetailRequest {
	return HotspotOperatorsAPIGetHotspotOperatorDetailRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		id: id,
	}
}

// Execute executes the request
//  @return OperationResponseOperatorResponse
func (a *HotspotOperatorsAPIService) GetHotspotOperatorDetailExecute(r HotspotOperatorsAPIGetHotspotOperatorDetailRequest) (*OperationResponseOperatorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseOperatorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HotspotOperatorsAPIService.GetHotspotOperatorDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/hotspot/operators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HotspotOperatorsAPIGetHotspotOperatorListRequest struct {
	ctx context.Context
	ApiService HotspotOperatorsAPI
	omadacId string
	siteId string
	page *int32
	pageSize *int32
	sortsName *string
	searchKey *string
}

// Start page number. Start from 1.
func (r HotspotOperatorsAPIGetHotspotOperatorListRequest) Page(page int32) HotspotOperatorsAPIGetHotspotOperatorListRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r HotspotOperatorsAPIGetHotspotOperatorListRequest) PageSize(pageSize int32) HotspotOperatorsAPIGetHotspotOperatorListRequest {
	r.pageSize = &pageSize
	return r
}

// Sort parameter may be one of asc or desc. Optional parameter. If it is not carried, it means it is not sorted by this field. When there are more than one, the first one takes effect
func (r HotspotOperatorsAPIGetHotspotOperatorListRequest) SortsName(sortsName string) HotspotOperatorsAPIGetHotspotOperatorListRequest {
	r.sortsName = &sortsName
	return r
}

// Fuzzy query parameters, support field name,note
func (r HotspotOperatorsAPIGetHotspotOperatorListRequest) SearchKey(searchKey string) HotspotOperatorsAPIGetHotspotOperatorListRequest {
	r.searchKey = &searchKey
	return r
}

func (r HotspotOperatorsAPIGetHotspotOperatorListRequest) Execute() (*OperationResponseGridVOOperatorResponse, *http.Response, error) {
	return r.ApiService.GetHotspotOperatorListExecute(r)
}

/*
GetHotspotOperatorList Get hotspot operators list

Get hotspot operators list.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return HotspotOperatorsAPIGetHotspotOperatorListRequest
*/
func (a *HotspotOperatorsAPIService) GetHotspotOperatorList(ctx context.Context, omadacId string, siteId string) HotspotOperatorsAPIGetHotspotOperatorListRequest {
	return HotspotOperatorsAPIGetHotspotOperatorListRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseGridVOOperatorResponse
func (a *HotspotOperatorsAPIService) GetHotspotOperatorListExecute(r HotspotOperatorsAPIGetHotspotOperatorListRequest) (*OperationResponseGridVOOperatorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseGridVOOperatorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HotspotOperatorsAPIService.GetHotspotOperatorList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/hotspot/operators"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	if r.sortsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sorts.name", r.sortsName, "form", "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HotspotOperatorsAPIModifyHotspotOperatorRequest struct {
	ctx context.Context
	ApiService HotspotOperatorsAPI
	omadacId string
	siteId string
	id string
	hotspotOperator *HotspotOperator
}

func (r HotspotOperatorsAPIModifyHotspotOperatorRequest) HotspotOperator(hotspotOperator HotspotOperator) HotspotOperatorsAPIModifyHotspotOperatorRequest {
	r.hotspotOperator = &hotspotOperator
	return r
}

func (r HotspotOperatorsAPIModifyHotspotOperatorRequest) Execute() (*OperationResponseString, *http.Response, error) {
	return r.ApiService.ModifyHotspotOperatorExecute(r)
}

/*
ModifyHotspotOperator Modify an existing hotspot operator

Modify an existing hotspot operator.<br/><br/>The interface requires one of the permissions: <br/>Site Hotspot Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-33000  -  This site does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param id Hotspot Operator ID
 @return HotspotOperatorsAPIModifyHotspotOperatorRequest
*/
func (a *HotspotOperatorsAPIService) ModifyHotspotOperator(ctx context.Context, omadacId string, siteId string, id string) HotspotOperatorsAPIModifyHotspotOperatorRequest {
	return HotspotOperatorsAPIModifyHotspotOperatorRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		id: id,
	}
}

// Execute executes the request
//  @return OperationResponseString
func (a *HotspotOperatorsAPIService) ModifyHotspotOperatorExecute(r HotspotOperatorsAPIModifyHotspotOperatorRequest) (*OperationResponseString, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseString
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HotspotOperatorsAPIService.ModifyHotspotOperator")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/hotspot/operators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hotspotOperator == nil {
		return localVarReturnValue, nil, reportError("hotspotOperator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hotspotOperator
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
