/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type LanMulticastTemplateAPI interface {

	/*
	CreateLanMulticastTemplate Create new lan multicast template

	Create new lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return LanMulticastTemplateAPICreateLanMulticastTemplateRequest
	*/
	CreateLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string) LanMulticastTemplateAPICreateLanMulticastTemplateRequest

	// CreateLanMulticastTemplateExecute executes the request
	//  @return ResponseIdVO
	CreateLanMulticastTemplateExecute(r LanMulticastTemplateAPICreateLanMulticastTemplateRequest) (*ResponseIdVO, *http.Response, error)

	/*
	DeleteLanMulticastTemplate Delete an existing lan multicast template

	Delete an existing lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-39900  -  This multicast snooping entry does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@param multicastId lanMulticastId
	@return LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest
	*/
	DeleteLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string, multicastId string) LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest

	// DeleteLanMulticastTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	DeleteLanMulticastTemplateExecute(r LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	GetGridLanMulticastTemplates Get lan multicast template list

	Get lan multicast template list<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest
	*/
	GetGridLanMulticastTemplates(ctx context.Context, omadacId string, siteTemplateId string) LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest

	// GetGridLanMulticastTemplatesExecute executes the request
	//  @return OperationResponse
	GetGridLanMulticastTemplatesExecute(r LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest) (*OperationResponse, *http.Response, error)

	/*
	ModifyLanMulticastTemplate Modify a lan multicast template

	Modify a lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-39900  -  This multicast snooping entry does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@param multicastId lanMulticastId
	@return LanMulticastTemplateAPIModifyLanMulticastTemplateRequest
	*/
	ModifyLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string, multicastId string) LanMulticastTemplateAPIModifyLanMulticastTemplateRequest

	// ModifyLanMulticastTemplateExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyLanMulticastTemplateExecute(r LanMulticastTemplateAPIModifyLanMulticastTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// LanMulticastTemplateAPIService LanMulticastTemplateAPI service
type LanMulticastTemplateAPIService service

type LanMulticastTemplateAPICreateLanMulticastTemplateRequest struct {
	ctx context.Context
	ApiService LanMulticastTemplateAPI
	omadacId string
	siteTemplateId string
	lanMulticastVO *LanMulticastVO
}

func (r LanMulticastTemplateAPICreateLanMulticastTemplateRequest) LanMulticastVO(lanMulticastVO LanMulticastVO) LanMulticastTemplateAPICreateLanMulticastTemplateRequest {
	r.lanMulticastVO = &lanMulticastVO
	return r
}

func (r LanMulticastTemplateAPICreateLanMulticastTemplateRequest) Execute() (*ResponseIdVO, *http.Response, error) {
	return r.ApiService.CreateLanMulticastTemplateExecute(r)
}

/*
CreateLanMulticastTemplate Create new lan multicast template

Create new lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return LanMulticastTemplateAPICreateLanMulticastTemplateRequest
*/
func (a *LanMulticastTemplateAPIService) CreateLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string) LanMulticastTemplateAPICreateLanMulticastTemplateRequest {
	return LanMulticastTemplateAPICreateLanMulticastTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return ResponseIdVO
func (a *LanMulticastTemplateAPIService) CreateLanMulticastTemplateExecute(r LanMulticastTemplateAPICreateLanMulticastTemplateRequest) (*ResponseIdVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseIdVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LanMulticastTemplateAPIService.CreateLanMulticastTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/lan-multicasts"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lanMulticastVO == nil {
		return localVarReturnValue, nil, reportError("lanMulticastVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lanMulticastVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest struct {
	ctx context.Context
	ApiService LanMulticastTemplateAPI
	omadacId string
	siteTemplateId string
	multicastId string
}

func (r LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.DeleteLanMulticastTemplateExecute(r)
}

/*
DeleteLanMulticastTemplate Delete an existing lan multicast template

Delete an existing lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-39900  -  This multicast snooping entry does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @param multicastId lanMulticastId
 @return LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest
*/
func (a *LanMulticastTemplateAPIService) DeleteLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string, multicastId string) LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest {
	return LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
		multicastId: multicastId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *LanMulticastTemplateAPIService) DeleteLanMulticastTemplateExecute(r LanMulticastTemplateAPIDeleteLanMulticastTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LanMulticastTemplateAPIService.DeleteLanMulticastTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/lan-multicasts/{multicastId}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"multicastId"+"}", url.PathEscape(parameterValueToString(r.multicastId, "multicastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest struct {
	ctx context.Context
	ApiService LanMulticastTemplateAPI
	page *int32
	pageSize *int32
	omadacId string
	siteTemplateId string
}

// Start page number. Start from 1.
func (r LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest) Page(page int32) LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest) PageSize(pageSize int32) LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest {
	r.pageSize = &pageSize
	return r
}

func (r LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.GetGridLanMulticastTemplatesExecute(r)
}

/*
GetGridLanMulticastTemplates Get lan multicast template list

Get lan multicast template list<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest
*/
func (a *LanMulticastTemplateAPIService) GetGridLanMulticastTemplates(ctx context.Context, omadacId string, siteTemplateId string) LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest {
	return LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *LanMulticastTemplateAPIService) GetGridLanMulticastTemplatesExecute(r LanMulticastTemplateAPIGetGridLanMulticastTemplatesRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LanMulticastTemplateAPIService.GetGridLanMulticastTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/lan-multicasts"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LanMulticastTemplateAPIModifyLanMulticastTemplateRequest struct {
	ctx context.Context
	ApiService LanMulticastTemplateAPI
	omadacId string
	siteTemplateId string
	multicastId string
	lanMulticastVO *LanMulticastVO
}

func (r LanMulticastTemplateAPIModifyLanMulticastTemplateRequest) LanMulticastVO(lanMulticastVO LanMulticastVO) LanMulticastTemplateAPIModifyLanMulticastTemplateRequest {
	r.lanMulticastVO = &lanMulticastVO
	return r
}

func (r LanMulticastTemplateAPIModifyLanMulticastTemplateRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyLanMulticastTemplateExecute(r)
}

/*
ModifyLanMulticastTemplate Modify a lan multicast template

Modify a lan multicast template<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>0  -  Success.<br/>-1001  -  Invalid request parameters.<br/>-33011  -  Operation failed because other operations are being performed on this site template. Please wait and try again later.<br/>-39900  -  This multicast snooping entry does not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @param multicastId lanMulticastId
 @return LanMulticastTemplateAPIModifyLanMulticastTemplateRequest
*/
func (a *LanMulticastTemplateAPIService) ModifyLanMulticastTemplate(ctx context.Context, omadacId string, siteTemplateId string, multicastId string) LanMulticastTemplateAPIModifyLanMulticastTemplateRequest {
	return LanMulticastTemplateAPIModifyLanMulticastTemplateRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
		multicastId: multicastId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *LanMulticastTemplateAPIService) ModifyLanMulticastTemplateExecute(r LanMulticastTemplateAPIModifyLanMulticastTemplateRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LanMulticastTemplateAPIService.ModifyLanMulticastTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/lan-multicasts/{multicastId}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"multicastId"+"}", url.PathEscape(parameterValueToString(r.multicastId, "multicastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lanMulticastVO == nil {
		return localVarReturnValue, nil, reportError("lanMulticastVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lanMulticastVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
