/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AuditLogTemplateAPI interface {

	/*
	GetAuditLogSettingForMsp Get site template audit log notification

	Get site template audit log notification.This interface applies to the Omada Pro Controller only. Please do not use it for non-Pro controllers.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return AuditLogTemplateAPIGetAuditLogSettingForMspRequest
	*/
	GetAuditLogSettingForMsp(ctx context.Context, omadacId string, siteTemplateId string) AuditLogTemplateAPIGetAuditLogSettingForMspRequest

	// GetAuditLogSettingForMspExecute executes the request
	//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
	GetAuditLogSettingForMspExecute(r AuditLogTemplateAPIGetAuditLogSettingForMspRequest) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error)

	/*
	ModifyAuditLogSettingSite Modify site template audit log notification

	Modify site template audit log notification.This interface applies to the Omada Pro Controller only. Please do not use it for non-Pro controllers.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteTemplateId Site Template ID
	@return AuditLogTemplateAPIModifyAuditLogSettingSiteRequest
	*/
	ModifyAuditLogSettingSite(ctx context.Context, omadacId string, siteTemplateId string) AuditLogTemplateAPIModifyAuditLogSettingSiteRequest

	// ModifyAuditLogSettingSiteExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyAuditLogSettingSiteExecute(r AuditLogTemplateAPIModifyAuditLogSettingSiteRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// AuditLogTemplateAPIService AuditLogTemplateAPI service
type AuditLogTemplateAPIService service

type AuditLogTemplateAPIGetAuditLogSettingForMspRequest struct {
	ctx context.Context
	ApiService AuditLogTemplateAPI
	omadacId string
	siteTemplateId string
}

func (r AuditLogTemplateAPIGetAuditLogSettingForMspRequest) Execute() (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAuditLogSettingForMspExecute(r)
}

/*
GetAuditLogSettingForMsp Get site template audit log notification

Get site template audit log notification.This interface applies to the Omada Pro Controller only. Please do not use it for non-Pro controllers.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return AuditLogTemplateAPIGetAuditLogSettingForMspRequest
*/
func (a *AuditLogTemplateAPIService) GetAuditLogSettingForMsp(ctx context.Context, omadacId string, siteTemplateId string) AuditLogTemplateAPIGetAuditLogSettingForMspRequest {
	return AuditLogTemplateAPIGetAuditLogSettingForMspRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseAuditLogNotificationSettingOpenApiVO
func (a *AuditLogTemplateAPIService) GetAuditLogSettingForMspExecute(r AuditLogTemplateAPIGetAuditLogSettingForMspRequest) (*OperationResponseAuditLogNotificationSettingOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseAuditLogNotificationSettingOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogTemplateAPIService.GetAuditLogSettingForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/site/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuditLogTemplateAPIModifyAuditLogSettingSiteRequest struct {
	ctx context.Context
	ApiService AuditLogTemplateAPI
	omadacId string
	siteTemplateId string
	auditLogNotificationSettingEditOpenApiVO *AuditLogNotificationSettingEditOpenApiVO
}

func (r AuditLogTemplateAPIModifyAuditLogSettingSiteRequest) AuditLogNotificationSettingEditOpenApiVO(auditLogNotificationSettingEditOpenApiVO AuditLogNotificationSettingEditOpenApiVO) AuditLogTemplateAPIModifyAuditLogSettingSiteRequest {
	r.auditLogNotificationSettingEditOpenApiVO = &auditLogNotificationSettingEditOpenApiVO
	return r
}

func (r AuditLogTemplateAPIModifyAuditLogSettingSiteRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyAuditLogSettingSiteExecute(r)
}

/*
ModifyAuditLogSettingSite Modify site template audit log notification

Modify site template audit log notification.This interface applies to the Omada Pro Controller only. Please do not use it for non-Pro controllers.<br/><br/>The interface requires one of the permissions: <br/>Global Site Template Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteTemplateId Site Template ID
 @return AuditLogTemplateAPIModifyAuditLogSettingSiteRequest
*/
func (a *AuditLogTemplateAPIService) ModifyAuditLogSettingSite(ctx context.Context, omadacId string, siteTemplateId string) AuditLogTemplateAPIModifyAuditLogSettingSiteRequest {
	return AuditLogTemplateAPIModifyAuditLogSettingSiteRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteTemplateId: siteTemplateId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *AuditLogTemplateAPIService) ModifyAuditLogSettingSiteExecute(r AuditLogTemplateAPIModifyAuditLogSettingSiteRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogTemplateAPIService.ModifyAuditLogSettingSite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sitetemplates/{siteTemplateId}/site/audit-notification"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteTemplateId"+"}", url.PathEscape(parameterValueToString(r.siteTemplateId, "siteTemplateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.auditLogNotificationSettingEditOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("auditLogNotificationSettingEditOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.auditLogNotificationSettingEditOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
