/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MSPHistoryDataRetentionAPI interface {

	/*
	GetMspDataRetention Get MSP history data retention configuration

	Get MSP history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPHistoryDataRetentionAPIGetMspDataRetentionRequest
	*/
	GetMspDataRetention(ctx context.Context, mspId string) MSPHistoryDataRetentionAPIGetMspDataRetentionRequest

	// GetMspDataRetentionExecute executes the request
	//  @return OperationResponseHistoryRetention
	GetMspDataRetentionExecute(r MSPHistoryDataRetentionAPIGetMspDataRetentionRequest) (*OperationResponseHistoryRetention, *http.Response, error)

	/*
	ModifyMspRetention Modify MSP history data retention configuration

	Modify MSP history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MSPHistoryDataRetentionAPIModifyMspRetentionRequest
	*/
	ModifyMspRetention(ctx context.Context, mspId string) MSPHistoryDataRetentionAPIModifyMspRetentionRequest

	// ModifyMspRetentionExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyMspRetentionExecute(r MSPHistoryDataRetentionAPIModifyMspRetentionRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// MSPHistoryDataRetentionAPIService MSPHistoryDataRetentionAPI service
type MSPHistoryDataRetentionAPIService service

type MSPHistoryDataRetentionAPIGetMspDataRetentionRequest struct {
	ctx context.Context
	ApiService MSPHistoryDataRetentionAPI
	mspId string
}

func (r MSPHistoryDataRetentionAPIGetMspDataRetentionRequest) Execute() (*OperationResponseHistoryRetention, *http.Response, error) {
	return r.ApiService.GetMspDataRetentionExecute(r)
}

/*
GetMspDataRetention Get MSP history data retention configuration

Get MSP history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPHistoryDataRetentionAPIGetMspDataRetentionRequest
*/
func (a *MSPHistoryDataRetentionAPIService) GetMspDataRetention(ctx context.Context, mspId string) MSPHistoryDataRetentionAPIGetMspDataRetentionRequest {
	return MSPHistoryDataRetentionAPIGetMspDataRetentionRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseHistoryRetention
func (a *MSPHistoryDataRetentionAPIService) GetMspDataRetentionExecute(r MSPHistoryDataRetentionAPIGetMspDataRetentionRequest) (*OperationResponseHistoryRetention, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseHistoryRetention
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPHistoryDataRetentionAPIService.GetMspDataRetention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/retention"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MSPHistoryDataRetentionAPIModifyMspRetentionRequest struct {
	ctx context.Context
	ApiService MSPHistoryDataRetentionAPI
	mspId string
	modifyHistoryRetentionOpenApiVO *ModifyHistoryRetentionOpenApiVO
}

func (r MSPHistoryDataRetentionAPIModifyMspRetentionRequest) ModifyHistoryRetentionOpenApiVO(modifyHistoryRetentionOpenApiVO ModifyHistoryRetentionOpenApiVO) MSPHistoryDataRetentionAPIModifyMspRetentionRequest {
	r.modifyHistoryRetentionOpenApiVO = &modifyHistoryRetentionOpenApiVO
	return r
}

func (r MSPHistoryDataRetentionAPIModifyMspRetentionRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyMspRetentionExecute(r)
}

/*
ModifyMspRetention Modify MSP history data retention configuration

Modify MSP history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MSPHistoryDataRetentionAPIModifyMspRetentionRequest
*/
func (a *MSPHistoryDataRetentionAPIService) ModifyMspRetention(ctx context.Context, mspId string) MSPHistoryDataRetentionAPIModifyMspRetentionRequest {
	return MSPHistoryDataRetentionAPIModifyMspRetentionRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MSPHistoryDataRetentionAPIService) ModifyMspRetentionExecute(r MSPHistoryDataRetentionAPIModifyMspRetentionRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MSPHistoryDataRetentionAPIService.ModifyMspRetention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/retention"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modifyHistoryRetentionOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("modifyHistoryRetentionOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modifyHistoryRetentionOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
