/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type DataExportAPI interface {

	/*
	ExportSiteRogueApZipFile Export site Rogue AP scan results

	Export site Rogue AP scan results.<br/><br/>The interface requires one of the permissions: <br/>Global Dashboard Manager View Only<br/>Site Export Data Access<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-30309  -  Failed to back up the configurations.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@param format The type of the exported file. 0: CSV, 1: xlsx.
	@return DataExportAPIExportSiteRogueApZipFileRequest
	*/
	ExportSiteRogueApZipFile(ctx context.Context, omadacId string, siteId string, format string) DataExportAPIExportSiteRogueApZipFileRequest

	// ExportSiteRogueApZipFileExecute executes the request
	//  @return OperationResponseWithoutResult
	ExportSiteRogueApZipFileExecute(r DataExportAPIExportSiteRogueApZipFileRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// DataExportAPIService DataExportAPI service
type DataExportAPIService service

type DataExportAPIExportSiteRogueApZipFileRequest struct {
	ctx context.Context
	ApiService DataExportAPI
	omadacId string
	siteId string
	format string
	page *int32
	pageSize *int32
}

// Start page number. Start from 1.
func (r DataExportAPIExportSiteRogueApZipFileRequest) Page(page int32) DataExportAPIExportSiteRogueApZipFileRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r DataExportAPIExportSiteRogueApZipFileRequest) PageSize(pageSize int32) DataExportAPIExportSiteRogueApZipFileRequest {
	r.pageSize = &pageSize
	return r
}

func (r DataExportAPIExportSiteRogueApZipFileRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ExportSiteRogueApZipFileExecute(r)
}

/*
ExportSiteRogueApZipFile Export site Rogue AP scan results

Export site Rogue AP scan results.<br/><br/>The interface requires one of the permissions: <br/>Global Dashboard Manager View Only<br/>Site Export Data Access<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-30309  -  Failed to back up the configurations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @param format The type of the exported file. 0: CSV, 1: xlsx.
 @return DataExportAPIExportSiteRogueApZipFileRequest
*/
func (a *DataExportAPIService) ExportSiteRogueApZipFile(ctx context.Context, omadacId string, siteId string, format string) DataExportAPIExportSiteRogueApZipFileRequest {
	return DataExportAPIExportSiteRogueApZipFileRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
		format: format,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *DataExportAPIService) ExportSiteRogueApZipFileExecute(r DataExportAPIExportSiteRogueApZipFileRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataExportAPIService.ExportSiteRogueApZipFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/rogue-ap/export/{format}"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"format"+"}", url.PathEscape(parameterValueToString(r.format, "format")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
