/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MspLicenseAPI interface {

	/*
	AssignAvailableLicenseForMsp Get available assign license info

	Get available assign license info.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIAssignAvailableLicenseForMspRequest
	*/
	AssignAvailableLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIAssignAvailableLicenseForMspRequest

	// AssignAvailableLicenseForMspExecute executes the request
	//  @return LicenseAvailableAssignOpenApiVO
	AssignAvailableLicenseForMspExecute(r MspLicenseAPIAssignAvailableLicenseForMspRequest) (*LicenseAvailableAssignOpenApiVO, *http.Response, error)

	/*
	AssignmentLicenseForMsp Assign license to a customer

	Assign license to a customer.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIAssignmentLicenseForMspRequest
	*/
	AssignmentLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIAssignmentLicenseForMspRequest

	// AssignmentLicenseForMspExecute executes the request
	//  @return OperationResponseWithoutResult
	AssignmentLicenseForMspExecute(r MspLicenseAPIAssignmentLicenseForMspRequest) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	GetAutoActive1 Get available recycle license info

	Get available recycle license info.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIGetAutoActive1Request
	*/
	GetAutoActive1(ctx context.Context, mspId string) MspLicenseAPIGetAutoActive1Request

	// GetAutoActive1Execute executes the request
	//  @return LicenseAvailableRecycleOpenApiVO
	GetAutoActive1Execute(r MspLicenseAPIGetAutoActive1Request) (*LicenseAvailableRecycleOpenApiVO, *http.Response, error)

	/*
	GetAutoActive2 Get license auto active

	Get license auto active.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIGetAutoActive2Request
	*/
	GetAutoActive2(ctx context.Context, mspId string) MspLicenseAPIGetAutoActive2Request

	// GetAutoActive2Execute executes the request
	//  @return OperationResponseLicenseAutoActiveOpenApiVO
	GetAutoActive2Execute(r MspLicenseAPIGetAutoActive2Request) (*OperationResponseLicenseAutoActiveOpenApiVO, *http.Response, error)

	/*
	GetUsedLicenseForMsp Get used license info list for assign or recycle license

	Get used license info list for assign or recycle license.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIGetUsedLicenseForMspRequest
	*/
	GetUsedLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIGetUsedLicenseForMspRequest

	// GetUsedLicenseForMspExecute executes the request
	//  @return GridVOUsedLicenseDetailOpenApiVO
	GetUsedLicenseForMspExecute(r MspLicenseAPIGetUsedLicenseForMspRequest) (*GridVOUsedLicenseDetailOpenApiVO, *http.Response, error)

	/*
	ModifyAutoActive1 Modify license auto active

	Modify license auto active.<br/><br/>The interface requires one of the permissions: <br/>MSP Bind/Unbind License Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIModifyAutoActive1Request
	*/
	ModifyAutoActive1(ctx context.Context, mspId string) MspLicenseAPIModifyAutoActive1Request

	// ModifyAutoActive1Execute executes the request
	//  @return OperationResponseWithoutResult
	ModifyAutoActive1Execute(r MspLicenseAPIModifyAutoActive1Request) (*OperationResponseWithoutResult, *http.Response, error)

	/*
	RecycleLicenseForMsp Recycle license from a customer

	Recycle license from a customer.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager Modify

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return MspLicenseAPIRecycleLicenseForMspRequest
	*/
	RecycleLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIRecycleLicenseForMspRequest

	// RecycleLicenseForMspExecute executes the request
	//  @return OperationResponseWithoutResult
	RecycleLicenseForMspExecute(r MspLicenseAPIRecycleLicenseForMspRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// MspLicenseAPIService MspLicenseAPI service
type MspLicenseAPIService service

type MspLicenseAPIAssignAvailableLicenseForMspRequest struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
}

func (r MspLicenseAPIAssignAvailableLicenseForMspRequest) Execute() (*LicenseAvailableAssignOpenApiVO, *http.Response, error) {
	return r.ApiService.AssignAvailableLicenseForMspExecute(r)
}

/*
AssignAvailableLicenseForMsp Get available assign license info

Get available assign license info.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIAssignAvailableLicenseForMspRequest
*/
func (a *MspLicenseAPIService) AssignAvailableLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIAssignAvailableLicenseForMspRequest {
	return MspLicenseAPIAssignAvailableLicenseForMspRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return LicenseAvailableAssignOpenApiVO
func (a *MspLicenseAPIService) AssignAvailableLicenseForMspExecute(r MspLicenseAPIAssignAvailableLicenseForMspRequest) (*LicenseAvailableAssignOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LicenseAvailableAssignOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.AssignAvailableLicenseForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/assign"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIAssignmentLicenseForMspRequest struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
	licenseAssignmentOpenApiVO *LicenseAssignmentOpenApiVO
}

func (r MspLicenseAPIAssignmentLicenseForMspRequest) LicenseAssignmentOpenApiVO(licenseAssignmentOpenApiVO LicenseAssignmentOpenApiVO) MspLicenseAPIAssignmentLicenseForMspRequest {
	r.licenseAssignmentOpenApiVO = &licenseAssignmentOpenApiVO
	return r
}

func (r MspLicenseAPIAssignmentLicenseForMspRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.AssignmentLicenseForMspExecute(r)
}

/*
AssignmentLicenseForMsp Assign license to a customer

Assign license to a customer.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIAssignmentLicenseForMspRequest
*/
func (a *MspLicenseAPIService) AssignmentLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIAssignmentLicenseForMspRequest {
	return MspLicenseAPIAssignmentLicenseForMspRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MspLicenseAPIService) AssignmentLicenseForMspExecute(r MspLicenseAPIAssignmentLicenseForMspRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.AssignmentLicenseForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/assign"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.licenseAssignmentOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("licenseAssignmentOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.licenseAssignmentOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIGetAutoActive1Request struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
	customerId *string
}

// Customer ID
func (r MspLicenseAPIGetAutoActive1Request) CustomerId(customerId string) MspLicenseAPIGetAutoActive1Request {
	r.customerId = &customerId
	return r
}

func (r MspLicenseAPIGetAutoActive1Request) Execute() (*LicenseAvailableRecycleOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAutoActive1Execute(r)
}

/*
GetAutoActive1 Get available recycle license info

Get available recycle license info.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIGetAutoActive1Request
*/
func (a *MspLicenseAPIService) GetAutoActive1(ctx context.Context, mspId string) MspLicenseAPIGetAutoActive1Request {
	return MspLicenseAPIGetAutoActive1Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return LicenseAvailableRecycleOpenApiVO
func (a *MspLicenseAPIService) GetAutoActive1Execute(r MspLicenseAPIGetAutoActive1Request) (*LicenseAvailableRecycleOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LicenseAvailableRecycleOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.GetAutoActive1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/recycle"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerId == nil {
		return localVarReturnValue, nil, reportError("customerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIGetAutoActive2Request struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
}

func (r MspLicenseAPIGetAutoActive2Request) Execute() (*OperationResponseLicenseAutoActiveOpenApiVO, *http.Response, error) {
	return r.ApiService.GetAutoActive2Execute(r)
}

/*
GetAutoActive2 Get license auto active

Get license auto active.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIGetAutoActive2Request
*/
func (a *MspLicenseAPIService) GetAutoActive2(ctx context.Context, mspId string) MspLicenseAPIGetAutoActive2Request {
	return MspLicenseAPIGetAutoActive2Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseLicenseAutoActiveOpenApiVO
func (a *MspLicenseAPIService) GetAutoActive2Execute(r MspLicenseAPIGetAutoActive2Request) (*OperationResponseLicenseAutoActiveOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseLicenseAutoActiveOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.GetAutoActive2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/auto-active"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIGetUsedLicenseForMspRequest struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
	customerId *string
	category *string
	assign *bool
	page *int32
	pageSize *int32
}

// Customer ID
func (r MspLicenseAPIGetUsedLicenseForMspRequest) CustomerId(customerId string) MspLicenseAPIGetUsedLicenseForMspRequest {
	r.customerId = &customerId
	return r
}

// It should be a value as follows: basic; ap; l2Switch; l3Switch; gateway
func (r MspLicenseAPIGetUsedLicenseForMspRequest) Category(category string) MspLicenseAPIGetUsedLicenseForMspRequest {
	r.category = &category
	return r
}

// Assign license: true; recycle license: false
func (r MspLicenseAPIGetUsedLicenseForMspRequest) Assign(assign bool) MspLicenseAPIGetUsedLicenseForMspRequest {
	r.assign = &assign
	return r
}

// Start page number. Start from 1.
func (r MspLicenseAPIGetUsedLicenseForMspRequest) Page(page int32) MspLicenseAPIGetUsedLicenseForMspRequest {
	r.page = &page
	return r
}

// Number of entries per page. It should be within the range of 1–1000.
func (r MspLicenseAPIGetUsedLicenseForMspRequest) PageSize(pageSize int32) MspLicenseAPIGetUsedLicenseForMspRequest {
	r.pageSize = &pageSize
	return r
}

func (r MspLicenseAPIGetUsedLicenseForMspRequest) Execute() (*GridVOUsedLicenseDetailOpenApiVO, *http.Response, error) {
	return r.ApiService.GetUsedLicenseForMspExecute(r)
}

/*
GetUsedLicenseForMsp Get used license info list for assign or recycle license

Get used license info list for assign or recycle license.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIGetUsedLicenseForMspRequest
*/
func (a *MspLicenseAPIService) GetUsedLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIGetUsedLicenseForMspRequest {
	return MspLicenseAPIGetUsedLicenseForMspRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return GridVOUsedLicenseDetailOpenApiVO
func (a *MspLicenseAPIService) GetUsedLicenseForMspExecute(r MspLicenseAPIGetUsedLicenseForMspRequest) (*GridVOUsedLicenseDetailOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GridVOUsedLicenseDetailOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.GetUsedLicenseForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/used"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerId == nil {
		return localVarReturnValue, nil, reportError("customerId is required and must be specified")
	}
	if r.category == nil {
		return localVarReturnValue, nil, reportError("category is required and must be specified")
	}
	if r.assign == nil {
		return localVarReturnValue, nil, reportError("assign is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "assign", r.assign, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIModifyAutoActive1Request struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
	licenseAutoActiveOpenApiVO *LicenseAutoActiveOpenApiVO
}

func (r MspLicenseAPIModifyAutoActive1Request) LicenseAutoActiveOpenApiVO(licenseAutoActiveOpenApiVO LicenseAutoActiveOpenApiVO) MspLicenseAPIModifyAutoActive1Request {
	r.licenseAutoActiveOpenApiVO = &licenseAutoActiveOpenApiVO
	return r
}

func (r MspLicenseAPIModifyAutoActive1Request) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyAutoActive1Execute(r)
}

/*
ModifyAutoActive1 Modify license auto active

Modify license auto active.<br/><br/>The interface requires one of the permissions: <br/>MSP Bind/Unbind License Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIModifyAutoActive1Request
*/
func (a *MspLicenseAPIService) ModifyAutoActive1(ctx context.Context, mspId string) MspLicenseAPIModifyAutoActive1Request {
	return MspLicenseAPIModifyAutoActive1Request{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MspLicenseAPIService) ModifyAutoActive1Execute(r MspLicenseAPIModifyAutoActive1Request) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.ModifyAutoActive1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/auto-active"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.licenseAutoActiveOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("licenseAutoActiveOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.licenseAutoActiveOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MspLicenseAPIRecycleLicenseForMspRequest struct {
	ctx context.Context
	ApiService MspLicenseAPI
	mspId string
	licenseRecycleOpenApiVO *LicenseRecycleOpenApiVO
}

func (r MspLicenseAPIRecycleLicenseForMspRequest) LicenseRecycleOpenApiVO(licenseRecycleOpenApiVO LicenseRecycleOpenApiVO) MspLicenseAPIRecycleLicenseForMspRequest {
	r.licenseRecycleOpenApiVO = &licenseRecycleOpenApiVO
	return r
}

func (r MspLicenseAPIRecycleLicenseForMspRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.RecycleLicenseForMspExecute(r)
}

/*
RecycleLicenseForMsp Recycle license from a customer

Recycle license from a customer.<br/><br/>The interface requires one of the permissions: <br/>MSP License Manager Modify

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return MspLicenseAPIRecycleLicenseForMspRequest
*/
func (a *MspLicenseAPIService) RecycleLicenseForMsp(ctx context.Context, mspId string) MspLicenseAPIRecycleLicenseForMspRequest {
	return MspLicenseAPIRecycleLicenseForMspRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *MspLicenseAPIService) RecycleLicenseForMspExecute(r MspLicenseAPIRecycleLicenseForMspRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MspLicenseAPIService.RecycleLicenseForMsp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/license/recycle"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.licenseRecycleOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("licenseRecycleOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.licenseRecycleOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
