/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type QuickActionAPI interface {

	/*
	GetNetworkWizardDefaultNetwork Get default network of the network wizard

	Get default network of the network wizard.<br/><br/>The interface requires one of the permissions: <br/>Site Home View Only<br/>Site Dashboard Manager View Only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@param siteId Site ID
	@return QuickActionAPIGetNetworkWizardDefaultNetworkRequest
	*/
	GetNetworkWizardDefaultNetwork(ctx context.Context, omadacId string, siteId string) QuickActionAPIGetNetworkWizardDefaultNetworkRequest

	// GetNetworkWizardDefaultNetworkExecute executes the request
	//  @return OperationResponseLanNetworkOpenApiVO
	GetNetworkWizardDefaultNetworkExecute(r QuickActionAPIGetNetworkWizardDefaultNetworkRequest) (*OperationResponseLanNetworkOpenApiVO, *http.Response, error)
}

// QuickActionAPIService QuickActionAPI service
type QuickActionAPIService service

type QuickActionAPIGetNetworkWizardDefaultNetworkRequest struct {
	ctx context.Context
	ApiService QuickActionAPI
	omadacId string
	siteId string
}

func (r QuickActionAPIGetNetworkWizardDefaultNetworkRequest) Execute() (*OperationResponseLanNetworkOpenApiVO, *http.Response, error) {
	return r.ApiService.GetNetworkWizardDefaultNetworkExecute(r)
}

/*
GetNetworkWizardDefaultNetwork Get default network of the network wizard

Get default network of the network wizard.<br/><br/>The interface requires one of the permissions: <br/>Site Home View Only<br/>Site Dashboard Manager View Only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @param siteId Site ID
 @return QuickActionAPIGetNetworkWizardDefaultNetworkRequest
*/
func (a *QuickActionAPIService) GetNetworkWizardDefaultNetwork(ctx context.Context, omadacId string, siteId string) QuickActionAPIGetNetworkWizardDefaultNetworkRequest {
	return QuickActionAPIGetNetworkWizardDefaultNetworkRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
		siteId: siteId,
	}
}

// Execute executes the request
//  @return OperationResponseLanNetworkOpenApiVO
func (a *QuickActionAPIService) GetNetworkWizardDefaultNetworkExecute(r QuickActionAPIGetNetworkWizardDefaultNetworkRequest) (*OperationResponseLanNetworkOpenApiVO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseLanNetworkOpenApiVO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuickActionAPIService.GetNetworkWizardDefaultNetwork")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/sites/{siteId}/quick-action/network-wizard/default-network"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"siteId"+"}", url.PathEscape(parameterValueToString(r.siteId, "siteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
