/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type HistoryDataRetentionAPI interface {

	/*
	GetDataRetention Get history data retention configuration

	Get data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return HistoryDataRetentionAPIGetDataRetentionRequest
	*/
	GetDataRetention(ctx context.Context, omadacId string) HistoryDataRetentionAPIGetDataRetentionRequest

	// GetDataRetentionExecute executes the request
	//  @return OperationResponseHistoryRetention
	GetDataRetentionExecute(r HistoryDataRetentionAPIGetDataRetentionRequest) (*OperationResponseHistoryRetention, *http.Response, error)

	/*
	GetMspClientDetailInfoSetting Get MSP client detail information setting.

	Get MSP client detail information setting.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest
	*/
	GetMspClientDetailInfoSetting(ctx context.Context, mspId string) HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest

	// GetMspClientDetailInfoSettingExecute executes the request
	//  @return OperationResponse
	GetMspClientDetailInfoSettingExecute(r HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest) (*OperationResponse, *http.Response, error)

	/*
	ModifyMspClientDetailInfoSetting Modify MSP client detail information setting.

	Modify MSP client detail information setting.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param mspId MSP ID
	@return HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest
	*/
	ModifyMspClientDetailInfoSetting(ctx context.Context, mspId string) HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest

	// ModifyMspClientDetailInfoSettingExecute executes the request
	//  @return OperationResponse
	ModifyMspClientDetailInfoSettingExecute(r HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest) (*OperationResponse, *http.Response, error)

	/*
	ModifyRetention Modify history data retention configuration

	Modify history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-7131  -  Controller ID not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return HistoryDataRetentionAPIModifyRetentionRequest
	*/
	ModifyRetention(ctx context.Context, omadacId string) HistoryDataRetentionAPIModifyRetentionRequest

	// ModifyRetentionExecute executes the request
	//  @return OperationResponseWithoutResult
	ModifyRetentionExecute(r HistoryDataRetentionAPIModifyRetentionRequest) (*OperationResponseWithoutResult, *http.Response, error)
}

// HistoryDataRetentionAPIService HistoryDataRetentionAPI service
type HistoryDataRetentionAPIService service

type HistoryDataRetentionAPIGetDataRetentionRequest struct {
	ctx context.Context
	ApiService HistoryDataRetentionAPI
	omadacId string
}

func (r HistoryDataRetentionAPIGetDataRetentionRequest) Execute() (*OperationResponseHistoryRetention, *http.Response, error) {
	return r.ApiService.GetDataRetentionExecute(r)
}

/*
GetDataRetention Get history data retention configuration

Get data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return HistoryDataRetentionAPIGetDataRetentionRequest
*/
func (a *HistoryDataRetentionAPIService) GetDataRetention(ctx context.Context, omadacId string) HistoryDataRetentionAPIGetDataRetentionRequest {
	return HistoryDataRetentionAPIGetDataRetentionRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseHistoryRetention
func (a *HistoryDataRetentionAPIService) GetDataRetentionExecute(r HistoryDataRetentionAPIGetDataRetentionRequest) (*OperationResponseHistoryRetention, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseHistoryRetention
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistoryDataRetentionAPIService.GetDataRetention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/retention"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest struct {
	ctx context.Context
	ApiService HistoryDataRetentionAPI
	mspId string
}

func (r HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.GetMspClientDetailInfoSettingExecute(r)
}

/*
GetMspClientDetailInfoSetting Get MSP client detail information setting.

Get MSP client detail information setting.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings View Only<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest
*/
func (a *HistoryDataRetentionAPIService) GetMspClientDetailInfoSetting(ctx context.Context, mspId string) HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest {
	return HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *HistoryDataRetentionAPIService) GetMspClientDetailInfoSettingExecute(r HistoryDataRetentionAPIGetMspClientDetailInfoSettingRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistoryDataRetentionAPIService.GetMspClientDetailInfoSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/client-detail-information"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest struct {
	ctx context.Context
	ApiService HistoryDataRetentionAPI
	mspId string
	mspClientDetailInfoSettingVO *MspClientDetailInfoSettingVO
}

func (r HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest) MspClientDetailInfoSettingVO(mspClientDetailInfoSettingVO MspClientDetailInfoSettingVO) HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest {
	r.mspClientDetailInfoSettingVO = &mspClientDetailInfoSettingVO
	return r
}

func (r HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest) Execute() (*OperationResponse, *http.Response, error) {
	return r.ApiService.ModifyMspClientDetailInfoSettingExecute(r)
}

/*
ModifyMspClientDetailInfoSetting Modify MSP client detail information setting.

Modify MSP client detail information setting.<br/><br/>The interface requires one of the permissions: <br/>MSP Other Settings Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mspId MSP ID
 @return HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest
*/
func (a *HistoryDataRetentionAPIService) ModifyMspClientDetailInfoSetting(ctx context.Context, mspId string) HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest {
	return HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest{
		ApiService: a,
		ctx: ctx,
		mspId: mspId,
	}
}

// Execute executes the request
//  @return OperationResponse
func (a *HistoryDataRetentionAPIService) ModifyMspClientDetailInfoSettingExecute(r HistoryDataRetentionAPIModifyMspClientDetailInfoSettingRequest) (*OperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistoryDataRetentionAPIService.ModifyMspClientDetailInfoSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/msp/{mspId}/client-detail-information"
	localVarPath = strings.Replace(localVarPath, "{"+"mspId"+"}", url.PathEscape(parameterValueToString(r.mspId, "mspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mspClientDetailInfoSettingVO == nil {
		return localVarReturnValue, nil, reportError("mspClientDetailInfoSettingVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mspClientDetailInfoSettingVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HistoryDataRetentionAPIModifyRetentionRequest struct {
	ctx context.Context
	ApiService HistoryDataRetentionAPI
	omadacId string
	modifyHistoryRetentionOpenApiVO *ModifyHistoryRetentionOpenApiVO
}

func (r HistoryDataRetentionAPIModifyRetentionRequest) ModifyHistoryRetentionOpenApiVO(modifyHistoryRetentionOpenApiVO ModifyHistoryRetentionOpenApiVO) HistoryDataRetentionAPIModifyRetentionRequest {
	r.modifyHistoryRetentionOpenApiVO = &modifyHistoryRetentionOpenApiVO
	return r
}

func (r HistoryDataRetentionAPIModifyRetentionRequest) Execute() (*OperationResponseWithoutResult, *http.Response, error) {
	return r.ApiService.ModifyRetentionExecute(r)
}

/*
ModifyRetention Modify history data retention configuration

Modify history data retention configuration.<br/><br/>The interface requires one of the permissions: <br/>Global Other Setting Modify<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-30001  -  Controller is not configured.<br/>-30028  -  Operation failed because other operations (backuping, site copying, customer copying, etc.) are being performed on this organization. Please wait and try again later.<br/>-7131  -  Controller ID not exist.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return HistoryDataRetentionAPIModifyRetentionRequest
*/
func (a *HistoryDataRetentionAPIService) ModifyRetention(ctx context.Context, omadacId string) HistoryDataRetentionAPIModifyRetentionRequest {
	return HistoryDataRetentionAPIModifyRetentionRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseWithoutResult
func (a *HistoryDataRetentionAPIService) ModifyRetentionExecute(r HistoryDataRetentionAPIModifyRetentionRequest) (*OperationResponseWithoutResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseWithoutResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistoryDataRetentionAPIService.ModifyRetention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/retention"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modifyHistoryRetentionOpenApiVO == nil {
		return localVarReturnValue, nil, reportError("modifyHistoryRetentionOpenApiVO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modifyHistoryRetentionOpenApiVO
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
