/*
Omada Open API

Omada Open API

API version: v0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omada

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type BatchOpenAPIAPI interface {

	/*
	BatchController Batch Processing OpenAPIs

	Batch processing of multiple OpenAPIs under the same Omada controller through this OpenAPI.<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.<br/>-1600  -  Unsupported request path.<br/>-1619  -  Execution has been interrupted due to unsuccessful execution of the pre action request.<br/>-1620  -  Error occurred while executing action.<br/>-44112  -  The access token has expired. Please re-initiate the refreshToken process to obtain the access token.<br/>-44113  -  The Access Token is Invalid.<br/>-7132  -  Our server is receiving too many requests now. Please try again later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param omadacId Omada ID
	@return BatchOpenAPIAPIBatchControllerRequest
	*/
	BatchController(ctx context.Context, omadacId string) BatchOpenAPIAPIBatchControllerRequest

	// BatchControllerExecute executes the request
	//  @return OperationResponseBatchResponseEntity
	BatchControllerExecute(r BatchOpenAPIAPIBatchControllerRequest) (*OperationResponseBatchResponseEntity, *http.Response, error)
}

// BatchOpenAPIAPIService BatchOpenAPIAPI service
type BatchOpenAPIAPIService service

type BatchOpenAPIAPIBatchControllerRequest struct {
	ctx context.Context
	ApiService BatchOpenAPIAPI
	omadacId string
	batchRequestEntity *BatchRequestEntity
}

func (r BatchOpenAPIAPIBatchControllerRequest) BatchRequestEntity(batchRequestEntity BatchRequestEntity) BatchOpenAPIAPIBatchControllerRequest {
	r.batchRequestEntity = &batchRequestEntity
	return r
}

func (r BatchOpenAPIAPIBatchControllerRequest) Execute() (*OperationResponseBatchResponseEntity, *http.Response, error) {
	return r.ApiService.BatchControllerExecute(r)
}

/*
BatchController Batch Processing OpenAPIs

Batch processing of multiple OpenAPIs under the same Omada controller through this OpenAPI.<br/><br/>The possible error code for the interface in the returned body is one of the following error codes (non generic error codes): <br/>-1001  -  Invalid request parameters.<br/>-1600  -  Unsupported request path.<br/>-1619  -  Execution has been interrupted due to unsuccessful execution of the pre action request.<br/>-1620  -  Error occurred while executing action.<br/>-44112  -  The access token has expired. Please re-initiate the refreshToken process to obtain the access token.<br/>-44113  -  The Access Token is Invalid.<br/>-7132  -  Our server is receiving too many requests now. Please try again later.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param omadacId Omada ID
 @return BatchOpenAPIAPIBatchControllerRequest
*/
func (a *BatchOpenAPIAPIService) BatchController(ctx context.Context, omadacId string) BatchOpenAPIAPIBatchControllerRequest {
	return BatchOpenAPIAPIBatchControllerRequest{
		ApiService: a,
		ctx: ctx,
		omadacId: omadacId,
	}
}

// Execute executes the request
//  @return OperationResponseBatchResponseEntity
func (a *BatchOpenAPIAPIService) BatchControllerExecute(r BatchOpenAPIAPIBatchControllerRequest) (*OperationResponseBatchResponseEntity, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperationResponseBatchResponseEntity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchOpenAPIAPIService.BatchController")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/openapi/v1/{omadacId}/batch"
	localVarPath = strings.Replace(localVarPath, "{"+"omadacId"+"}", url.PathEscape(parameterValueToString(r.omadacId, "omadacId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.batchRequestEntity == nil {
		return localVarReturnValue, nil, reportError("batchRequestEntity is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchRequestEntity
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["AccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
